@media screen and (max-width: 929px) {
    .our-services__subtitle {
        max-width: 545px;
    }
    .our-services__left {
        margin-left: 0;
    }
    .our-services__right {
        width: 555px;
        width: 100%;
    }
    .button_our-services {
        margin-bottom: 20px;
    }
}