@media screen and (max-width: 1150px) {
    .our-services__subtitle {
        max-width: 480px;
    }
    .our-services__right {
        width: 500px;
        img {
            width: 100%;
        }
    }
}