@media screen and (max-width: 500px) {
    //---NAV---
    .relation-list_header {
        li {
            &:nth-child(1) {
                display: none;
            }
        }
    }
    .button-yellow_header {
        margin: 0 auto;
    }

    //---EVENT-COMPANY---
    .event-company__left {
        max-width: 430px;
    }
    .event-company__slider {
        max-width: 430px;
        padding: 62px 0px 47px 10px;
    }

}