@media screen and (max-width: 700px) {
    //---PROMO---
    .promo__title {
        font-size: 27px;
    }
    .promo__subtitle {
        font-size: 17px;
    }

    //---OURS-SERVICES---
    .subtitle_ours-services {
        display: none;
    }
}