@media screen and (max-width: 1043px) {
    //---EVENT-COMPANY---
    .event-company__left {
        max-width: 554px;;
    }
    .event-company__slider {
        margin-top: 40px;
        max-width: 554px;
        padding: 62px 37px 47px 71px;
    }

    //---MAP---
    .map-right {
        width: 540px;
    }
    
}