// Отдельные стили, которые могут применяться

// Назначение нужного стиля шрифта
.font-family-scada { font-family: 'Scada', sans-serif; }

// Отступ в 30px или 3rem. В настоящее время используется в Production
.margin-bottom-2 {  margin-bottom: 3rem; }

// С помощью стилей распределяет кнопку и контент в produst на одной линии
.distribute-flex-direction {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


// Активный, "выбранный" элемент septic
.septic-qustion-active {
    font-size: 5.6rem;
    font-weight: 400;
}