@media screen and (max-width: 549px) {
    //СЕКЦИЯ PROVIDE-SERVICE
    .provide-service__service-wrapper {
        justify-content: center;  
    }

    
    //СЕКЦИЯ FREE-CONSULTATION
    .free-consultation__list {
        width: 380px;
    }

    //СЕКЦИЯ PARTNER
    .partner__wrapper {
        width: 220px;
    }
}