@media screen and (max-width: 340px) {
    //СЕКЦИЯ TARIFF
    .tariff-block__content {
        padding: 50px 10px;
    }

   /*  //СЕКЦИЯ HEADER > HAMBURGER AND MENU
    .menu-hamburger {
        padding: 10px;
    }
    .menu-hamburger__link {
        font-size: 17px;
    } */
}