@media screen and (max-width: 440px) {
    //СЕКЦИЯ PROMO
    .promo__title {
        text-align: center;
        font-size: 25px;
        span {
            font-size: 33px;
        }
    }
    .promo__subtitle {
        font-size: 21px;
    }

}