@media screen and (max-width: 910px) {
    /* Секция edward */
    .edward-list {
        font-size: 15px;
    }
    .edward-right {
        width: 400px;
    }
    .edward-list__item {
        margin-bottom: 26px;
    }
}
