@media screen and (max-width: 420px) {
    /* ----- Одна из верхних секций. Секция с рекламой, то есть Promo*/
    .yellow-wrapper {
        padding: 100px 10px 100px 10px;
    }

    .main-title {
        max-width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 31px;
    }

    .main-subtitle {
        max-width: 100%;
        text-align: center;
    }

    .yellow-wrapper__description {
        display: none;
    }

    /* ----- Секция под названием price, идёт следом за header ----- */
    .price-form {
        input {
            width: 290px;
        }
    }
    .button_email-price {
        width: 290px;
    }

    /* Секция под названием details */
    .details-form {
        input {
            width: 290px;
        }
    }
    .button_details-price {
        max-width: 290px;
    }

    /* Секция diagnostics*/ 
    .title_diagnostics {
        font-size: 26px;
    }

     /* Секция consultation*/ 
    .button_consultation {
        width: 290px;
    }
    .consultation-form {
        input {
            width: 290px;
        }
    }

    /* Секция office*/ 
    .title_office {
        font-size: 30px;
    }
}
