@media screen and (max-width: 750px) {
    //СЕКЦИЯ COMMENT
    .arrow__right,
    .arrow__left {
        top: 15%;
    }
    .arrow__right {
        right: -2px;
    }
    .arrow__left {
        left: -2px;
    }
    .comment__wrapper {
        width: 620px;
        margin: 0 auto;
    }

    //СЕКЦИЯ PARTNER
    .partner__wrapper {
        width: 470px;
    }

}