@import '../gloval-style/variables.scss';

.nav {
  &-link { 
    cursor: pointer;
    color: $color-text; 
    text-decoration: none;
    position: relative;
    font-size: 1.6rem; 
    &::before {
        content: '';
        position: absolute;
        height: .2rem;
        width: 0;
        left: 0;
        bottom: -.7rem;
        background-color: $active-color;
    }
    &:not(.nav-link-active):hover {
        color: $active-color;
        &::before { width: 45%; }
    } 
  }
}
