@keyframes showRoadOnMap {
  100% { stroke-dashoffset: -4; }
}
.showRoadOnMap { animation: showRoadOnMap 4s 1; }


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1rem)
  }
  100% { 
    opacity: 1;
    transform: translateY(0)
  }
}
.fadeInDown { animation: fadeInDown 1.5s infinite; }


@keyframes fadeDotsItemBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeDotsItemBottomToTop {
  animation: fadeDotsItemBottomToTop .3s; 
}


// Анизмация для появления самолёта в секции Travel
@keyframes thePlaneFliesAway {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100rem, -20rem);
  }
}
.thePlaneFliesAway {
  animation: thePlaneFliesAway 3s infinite;
}
@keyframes planeArrives {
  0% {
    transform: translate(100rem, 20rem);
   
  }
  100% {
    transform: translate(0, 0);
  }
}


// Анимация для появления текста с авиокомпаниией
// и логотипом в секции Trravel
@keyframes airlineFliesAway {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes airlineArrives {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Анимация для появления картинки с местом
// в секции Travel
@keyframes hideImageInTravel {
  0% {
    opacity: 1;
    // transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    // transform: scale(0) rotate(180deg);
  }
}
@keyframes showImageInTravel {
  0% {
    opacity: 0;
    // transform: scale(0) rotate(180deg);
  }
  100% {
    opacity: 1;
    // transform: scale(1) rotate(360deg);
  }
}


// Анимация для изминения цены и остальной информации
// о полёте в место, которое было выбрано на слайдере
// Для нормального функциюонирования 
// на сам элемент был добавлен transform-origin: 7rem (70px);
@keyframes startToggleInformationAboutFly {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
} 
@keyframes finishToggleInformationAboutFly {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
} 