@font-face {
    font-family: 'Mg Open Modata';
    src: url('../fonts/MgOpenModata.woff2') format('woff2'),
        url('../fonts/MgOpenModata.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

