@import '../base/variables';

@media screen and (max-width: 700px) {
  .header-right-map svg {
    transform: scale(.9);
  }
  .header-right-map {
    top: -3.2rem;
    right: -4.7rem;
  }
  .header__arrow-right, .header__arrow-left {
    top: 1.5rem;
  }
}