@import '../gloval-style/variables.scss';

.header {
  min-height: 7rem;
  background-color: $header-bg;
  padding: 9px 0;
  &__wrapper {
    position: relative;
    a { 
      color: $color-text; 
      &:hover { text-decoration: none; }
    }
  }
  &-title { margin-bottom: 0; }
  &-title-link {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    &:hover { color: rgba($color: $active-color, $alpha: .5); }
  }
}
