@media screen and (max-width: 768px) {
    /* CONTAINER */
    .container {
        padding: 0 20px;
        max-width: 459px;
    }
    /* /.CONTAINER */

    /* HEADER */
    .header {
        min-height: 313px;
        padding: 30px 0 0 0;
    }
    .header__list {
        li {
            letter-spacing: .1px;
            line-height: 19px;
            padding-bottom: 20.5px;
            font-size: 17px;
            text-transform: uppercase;
            &:hover {
                font-size: 17px;
            }
            &:nth-child(3) {
                padding-top: 0;
            }
            &:last-child {
                padding-top: 2px;
            }
            span {
                display: block;
            }
        }
    }
    .logo_header {
        bottom: 35px;
        left: 49%;
        transform: translateX(-50%);
        img {
            width: 212px;
        }
    }
    /* /.HEADER */


    /* TITLE */
    .title {
        font-size: 25px;
        letter-spacing: 0.8px;
        padding-left: 52px;
        &::before {
            width: 48px;
            height: 48px;
            left: -1px;
            top: -5px;
        }
    }
    /* /.TITLE */


    /* ABOUT-NEWS */
    .about-news {
        margin-top: -98px;
        background-size: contain;
        padding-top: 131px;
        background-position: 0 40px;
        min-height: 297px;
    }
    .about {
        padding-bottom: 41px;
    }
    .about__description {
        margin-left: 0;
        margin-top: 29px;
        p {
            max-width: 422px;
            letter-spacing: -0.3px;
            font-size: 16.9px;
            line-height: 19px;
            margin-bottom: 28px;
        }
    }


    .news {
        background-image: url('../img/media/media-bg.png');
        background-size: auto;
        margin-top: -107px;
        background-position: -231px top;
        padding-top: 106px;
        min-height: 652px;
        background-repeat: no-repeat;
        z-index: 99;
    }   
    .news-items {
        flex-direction: column;
        padding: 10px 28px 10px 7px;
    }
    .title_news {
        &::before {
            left: -1px;
            top: -1px;
        }
    }
    .news-items__item {
        display: flex;
    }
    .news-items__item_one {
        order: 1;
        .news-items__img {
            max-width: 99px;
            height: 90px;
        }
        .news-items__detailed {
            padding-left: 14px;
            padding-top: 6px;
            letter-spacing: 0.29px;
            max-width: 316px;
        }
    }
    .news-items__item_two {
        order: 4;
        .news-items__img {
            width: 101px;
            height: 96px;
            left: -1px;
            top: 33px;
        }
        .news-items__detailed {
            max-width: 300px;
            padding-left: 12px;
            padding-top: 17px;
            letter-spacing: 0.3px;
        }
        
    }
    .news-items__item_three {
        order: 3;
        .news-items__img {
            width: 101px;
            height: 95px;
            left: 0px;
            top: 22px;
        }
        .news-items__detailed {
            max-width: 291px;
            padding-left: 16px;
            padding-top: 1px;
            letter-spacing: 0.4px;
        }
    }
    .news-items__item_four {
        order: 2;
        .news-items__img {
            width: 99px;
            height: 100px;
            left: 0px;
            top: 12px;
        }
        .news-items__detailed {
            max-width: 264px;
            margin-left: 14px;
            padding-top: 9px;
            letter-spacing: .29px;
        }
    }
    /* /.ABOUT-NEWS */


    /* MEDIA */
    .media {
        background-image: url('../img/tickets/tickets-bg.jpg');
        min-height: 786px;
        margin-top: -57px;
        background-repeat: no-repeat;
        background-position: -250px 8px;
        background-size: cover;
        z-index: 20;
        padding-top: 61px;
    }
    .media__wrapper {
        flex-direction: column;
        margin-top: 36px;
    }
    .media-video {
        padding-left: 0;
    }
    .media-video__main {
        width: 419px;
        height: 234px;
    }
    .media-video__videos {
        padding-top: 13px;
    }
    .media-gallery {
        margin-left: 0;
        margin-top: 26px;
        padding-bottom: 125px;
    }
    .media-gallery__img_one {
        top: -4px;
        width: 104px;
        height: 73px;
    }
    .media-gallery__img_two {
        width: 76px;
        height: 75px;
        margin-top: -3px;
        padding-left: 5px;
    }
    .media-gallery__img_three {
        padding-top: 7px;
        margin-top: -26px;
        width: 80px;
        height: 66px;
    }
    .media-gallery__img_four {
        width: 100px;
        height: 61px;
        top: -8px;
        padding-left: 0;
    }
    .media-gallery__img_five {
        width: 90px;
        height: 62px;
    }
    .media-gallery__img_six {
        width: 83px;
        height: 58px;
        top: -3px;
        padding-left: 0;
    }
    .media-gallery__img_seven {
        width: 91px;
        height: 70px;
        top: -6px;
    }
    .media-gallery__img_eight {
        width: 98px;
        height: 70px;
        top: -7px;
        padding-left: 0;
    }

    .media-gallery_desktop {
        display: none;
    }
    .media-gallery_mobile {
        display: block;
    }

    .media-gallery__img {
        width: 24%;
    }
    /* /.MEDIA */

    /* tickets */
    .tickets {
        padding: 0;
    }
    .tickets_mobile {
        display: block;
    }
    .tickets_dekstop {
        display: none;
        background-image: none;
    }

    .title_tickets {
        padding-left: 32px;
        &::before {
            left: -21px;
        }
    }
    .tickets-item {
        width: auto;
    }
    .tickets-item__img {
        width: 126px;
        height: 161px;
    }
    .tickets-item_right .tickets-item__title {
        margin-top: 8px;
        margin-right: 0;
    } 
    .tickets-item_left .tickets-item__title {
        margin-left: 0;
    }
    .tickets__right {
        margin-right: -27px;
    }
    .tickets-item__title {
        margin: 0 auto;
        margin-top: 8px;
        max-width: 130px;
        font-size: 14px;
        line-height: 16px;
    }
    .button_one,
    .button_two {
        margin: 0 auto;
        margin-top: 10px;
        margin-left: auto;
    }
    .button_two {
        margin-top: 25px;
    }
    /* /.tickets */


    .calculate-item {
        width: 380px;
        height: 302px;
    }
    .calculate-item__title {
        font-size: 24px;
        line-height: 28px;
    }
    .calculate-item__place {
        width: 139px;
        height: 53px;
        font-size: 24px;
        margin-bottom: 15px;

    }
    .calculate-item__number {
        right: -60px;
        width: 41px;
        height: 33px;
        font-size: 24px;
    }
    .plus,
    .minus {
        right: -100px;
    }
    .plus {
        transform: translateY(-15px);
        height: 33px;
    }
    .minus {
        transform: translateY(20px) rotate(179deg);
        height: 34px;
    }
    .calculate-item__places {
        padding-left: 75px;
    }
    .calculate-item__close {
        width: 15px;

    }
    .calculate-item__final {
        margin-top: 30px;
    }
    .calculate-item__price {
        width: 82px;
        height: 33px;
        margin-right: 10px;
        font-size: 24px;
    }
    .button_price {
        width: 61px;
        height: 33px;
        font-size: 24px;
        line-height: 28px;
    }


    .footer {
        min-height: 120px;
        p {
            padding-right: 0;
        }
    }
}