//БАЗОВЫЕ СТИЛИ
@import 'base/reset';
@import 'base/bootstrap-reboot.min';
@import 'base/mixins';

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

//ПОВТОРЯЮЩИЕСЯ ЭЛЕМЕНТЫ
@import 'repeats/buttons';
@import 'repeats/title';
@import 'repeats/subtitle';

//СЕКЦИИ 
@import 'sections/header';
@import 'sections/our-services';
@import 'sections/calculate';
@import 'sections/portfolio';
@import 'sections/what-best';
@import 'sections/interaction-process';
@import 'sections/partner';
@import 'sections/team';
@import 'sections/blog';
@import 'sections/questions';
@import 'sections/map'; //не заполнено
@import 'sections/footer';



//МЕДИЯ ЗАПРОСЫ - Header
@import 'media/header/media1080';
@import 'media/header/media970';
@import 'media/header/media935';
@import 'media/header/media829';
@import 'media/header/media764';
@import 'media/header/media640';
@import 'media/header/media580';
@import 'media/header/media400';

