.title {
    text-align: center;
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.3px;
    &_about-service {
        color: #fff;
    }
    &_advantage {
        line-height: 32px;
        span {
            display: block;
        }
    }
    &_free-consultation {
        max-width: 466px;
        text-align: left;
        color: #fff;
        line-height: 35px;
    }
}