.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #0000, $alpha: .9);
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  &__wrapper {
    overflow-y: auto;

    border-radius: 4px;
    max-width: 800px;
    max-height: 90%;
    padding: 25px;
    background-color: #fff;
  }
  &__title {
    font-size: 25px;
  }
  &__body-title {
    font-size: 20px;
  }
  &__body-description {
    font-size: 18px;
  }
  &__list {
    padding-top: 10px;
    padding-left: 15px;
    list-style: upper-roman;
  }
  &__item {
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: rgb(179, 179, 179);
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
}