.company {
  padding: 8rem 0;

  &__wrapper {
    padding-top: 4rem;
    display: flex;
  }

  &__video {
    position: relative;
    max-width: 69.8rem;
    width: 100%;
    height: 46rem;
    border-radius: .5rem;

    video {
      cursor: pointer;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: .5rem;

      &:focus {
        outline: none;
      }
    }

    &-controller {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    &-none {
      opacity: 0;
      pointer-events: none;
    }

    &-image {
      position: absolute;
      width: 15rem;
      height: 15rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../img/icons/video-play.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__description {
    background: rgba(34, 34, 34, 0.03);
    border-radius: 5px;
    padding: 5rem 2rem;
  }

  &__list {
    padding-left: 13rem;
  }

  &__item {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #222222;
    max-width: 20rem;

    &:not(:last-child) {
      margin-bottom: 8.7rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: -10rem;
      top: 50%;
      width: 9.3rem;
      height: 9.3rem;
      transform: translateY(-50%);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--1::before {
      background-image: url('../img/company/1.png');
    }

    &--2::before {
      background-image: url('../img/company/2.png');
    }

    &--3::before {
      background-image: url('../img/company/3.png');
    }
  }

  &__buttons {
    padding-top: 7rem;
  }

  &__button {
    margin-right: 1rem;
  }

  &__convenient-schedule {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: rgba(34, 34, 34, 0.5);
  }
}