.header {
  min-height: 91rem;
  background-image: url('../img/header/header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;

  &__logo {
    max-width: 21.9rem;

    img {
      width: 100%;
    }
  }

  &__dismantling,
  &__city {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }

  &__dismantling {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #222222;
    max-width: 21rem;

    &::before {
      left: -6.2rem;
      width: 4.3rem;
      height: 3.3rem;
      background-image: url('../img/icons/technic-icon.svg');
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    display: flex;
    margin-left: 5rem;
  }

  &__city {
    margin-left: 6.5rem;

    &::before {
      left: -4.2rem;
      width: 3.2rem;
      height: 3.2rem;
      background-image: url('../img/icons/map-icon.svg');
    }

    &:hover {
      .header__city-list {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
      }
    }
  }

  &__city-title {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: rgba(34, 34, 34, 0.5);
  }

  &__city-your {
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #222222;
    border-bottom: .1rem dashed rgba(34, 34, 34, 0.3);
  }

  &__city-list {
    position: absolute;
    left: 0;
    top: 4.4rem;
    width: 15.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(21px);
    padding: 1.4rem 1.8rem;
    border-radius: .5rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      left: 1.8rem;
      top: -1rem;
      border: .5rem solid transparent;
      border-bottom: .5rem solid rgba(255, 255, 255, 0.8);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: -1.2rem;
      z-index: -2;
    }

    &:hover {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  &__city-item {
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: rgba(34, 34, 34, 0.7);

    &.service {
      color: #222222;
      font-weight: 600;
    }
  }

  &__call {
    display: flex;
    align-content: center;
  }

  &__phone {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: right;
    padding-right: 1rem;
  }

  &__phone-title {
    display: block;
    color: rgba(34, 34, 34, 0.7);
  }

  &__phone-tel {
    font-family: 'Spaceland', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
    color: #222222;

    &:hover {
      text-decoration: none;
      color: currentColor;
      border-bottom: .1rem dashed rgba(34, 34, 34, 0.7);
    }
  }

  &-content {
    padding-top: 15rem;
    display: flex;
    justify-content: space-between;

    &__info {
      margin-top: 2rem;
      background: linear-gradient(90deg, rgba(255, 96, 17, 0.65) 0%, rgba(255, 104, 29, 0) 97.22%);
      border-radius: .5rem;
      padding: .5rem 1.4rem;
      max-width: 59.3rem;

      font-family: 'Spaceland', sans-serif;
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: #000000;
    }
  }

  &__title {
    font-family: 'Spaceland', sans-serif;
    max-width: 61rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.43), 0 0 4.8rem #000406;

    &--89 {
      font-size: 8.9rem;
    }

    &--63 {
      font-size: 6.3rem;
      line-height: 6.3rem;
    }
  }

  &-form {
    position: relative;
    margin-top: 14.5rem;

    max-width: 50.1rem;
    width: 100%;
    min-height: auto;
    background: rgba($color: #fff, $alpha: .7);
    backdrop-filter: blur(34px);
    border-radius: 1rem;
    padding: 1.5rem;
    overflow: hidden;
    z-index: 5;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      border-radius: .7rem;
    }

    &::before {
      width: 5rem;
      height: 5rem;
      background-color: #FF681D;
      z-index: 4;
    }

    &::after {
      width: 7rem;
      height: 7rem;
      background: rgba(255, 255, 255, 0.23);
      transform: rotate(45deg) translateX(-57%);

      border-radius: 1.1rem;
      z-index: 3;
    }

    &__wrapper {
      border: .1rem solid #fff;
      padding: 1.5rem;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }

    &__inner {
      padding-bottom: 1rem;
    }

    &__title {
      font-family: 'Spaceland', sans-serif;
      font-weight: 600;
      font-size: 3.1rem;
      line-height: 3rem;
      text-align: center;

      &-description {
        display: block;
        font-size: 2.8rem;
      }
    }

    &__content {
      padding-top: 2.5rem;
    }

    &__question {
      font-family: 'PF Din Text Cond Pro', sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      color: #222222;
    }

    &__label {
      position: relative;

      &:not(:last-child) {
        margin-right: .9rem;
      }

      span {
        cursor: pointer;
        padding: .6rem 1.4rem;
        background: #fff;
        border-radius: .4rem;
        font-size: 1.6rem;
        color: #222222;
      }
    }

    &__checkbox {
      position: absolute;
      width: .1rem;
      height: .1rem;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__checkbox:checked+span {
      background-color: #F9641B;
      color: #fff;
    }

    &__send {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__input {
      position: relative;
      margin-bottom: 0;
      max-width: 22rem;
      width: 100%;

      &-write,
      &-placeholder {
        font-size: 1.4rem;
      }

      &-write {
        height: 5rem;
        width: 100%;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: .4rem;

        &:focus {
          outline: none;
          border: .1rem solid rgba(34, 34, 34, 0.3);
        }

        &:focus+.header-form__input-placeholder {
          opacity: 0;
        }

        &.placeholder-hide+.header-form__input-placeholder {
          opacity: 0;

        }
      }

      &-placeholder {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        color: rgba(34, 34, 34, 0.4);

        &::before {
          content: '';
          position: absolute;
          background-image: url('../img/icons/phone-icon.svg');
          width: 0.6rem;
          height: 0.6rem;
          left: -1rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &__detailed {
      font-size: 1.2rem;
      text-align: center;
      color: rgba(34, 34, 34, 0.7);
      max-width: 20rem;
      margin: 0 auto;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: rgba(34, 34, 34, 0.7);
        border-bottom: .1rem dashed rgba(34, 34, 34, 0.7);

        &:hover {
          border-bottom-style: solid;
        }
      }
    }
  }

  &__insta {
    display: flex;
    align-items: center;

    &-photo-item {
      position: relative;
      z-index: 1;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -58%);
        border-radius: 50%;
        z-index: -1;
      }

      &::after {
        width: 10.5rem;
        height: 10.5rem;
        background-color: #FF681D;
      }

      &::before {
        width: 12.1rem;
        height: 12.1rem;
        border: .4rem solid #FF681D;
      }
    }
  }
}


// ZUCK
.header .stories.carousel .story {
  width: 10rem;
  height: 12rem;
}

.header .stories.carousel .story>.item-link>.item-preview {
  position: relative;
  border-radius: 50%;
  background-image: url('../img/header/gradient.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: .6rem;
  overflow: visible;
  width: 9rem;
  height: 9rem;

  &::before {
    content: "Смотрите";
    position: absolute;
    width: 8.1rem;
    height: 2.4rem;
    background-color: #FFD600;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: .3rem;

    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &:hover {
    &::before {
      background-color: #F9641B;
    }
  }
}

.header .stories.carousel .story>.item-link>.item-preview img {
  border-radius: 50%;
}

.header .stories.carousel .story>.item-link>.info {
  font-size: 1.6rem;
  color: #000000;
}