//БАЗА
@import 'base/tiny-slider';
@import 'base/bootstrap-reboot.min';
@import 'base/font';
@import 'base/mixins';


body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    max-width: 971px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

//Повторяющиеся элементы
@import 'repeat/phone';
@import 'repeat/buttons';
@import 'repeat/title';
@import 'repeat/arrows';
@import 'repeat/modal';


//секции
@import 'section/header';
@import 'section/subheader';
@import 'section/promo';
@import 'section/provide-service';
@import 'section/about-service';
@import 'section/render-service';
@import 'section/advantage';
@import 'section/free-consultation';
@import 'section/comment';
@import 'section/partner';
@import 'section/tariff';
@import 'section/contacts';
@import 'section/footer';

//медия запросы
@import 'media/media1099';
@import 'media/media970';
@import 'media/media919';
@import 'media/media890';
@import 'media/media850';
@import 'media/media809';
@import 'media/media790';
@import 'media/media775';
@import 'media/media750';
@import 'media/media700';
@import 'media/media650';
@import 'media/media629';
@import 'media/media590';
@import 'media/media549';
@import 'media/media524';
@import 'media/media-modal';
@import 'media/media490';
@import 'media/media485';
@import 'media/media449';
@import 'media/media440';
@import 'media/media410';
@import 'media/media400';
@import 'media/media390';
@import 'media/media340';