//БАЗА
@import 'base/bootstrap-reboot.min';
@import 'base/font';
@import 'base/mixins';


body {
    font-family: 'Proxima Nova', sans-serif;
}

.container {
    max-width: 971px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

//Повторяющиеся элементы
@import 'repeat/phone';
@import 'repeat/buttons';
@import 'repeat/title';

//секции
@import 'section/header';
@import 'section/subheader';
@import 'section/promo';
@import 'section/provide-service';
@import 'section/about-service';
@import 'section/render-service';
@import 'section/advantage';
@import 'section/free-consultation';
