@media screen and (max-width: 340px) {
    .header {
        background-position: -466px 49px;
    }

    /* FOOTER */
    .footer__link,
    .footer__protected {
        font-size: 10px;
    }
    .footer__protected {
        padding-top: 3px;
    }
    /* FOOTER */
}