@media screen and (max-width: 660px) {
  .company__list {
    display: none;
  }

  .company__description {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 3rem;
  }

  .company__buttons {
    padding-top: 2rem;
  }

  .company__video {
    max-width: 37rem;
    height: 19.6rem;
  }

  .title-main {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .title--description {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .company__buttons {
    align-items: center;
  }

  .company__buttons button {
    max-width: 30rem;
    width: 100%;
  }

  .costing {
    padding-top: 0;
  }

  .costing-bottom {
    margin-top: -4rem;
  }

  .costing__image {
    max-width: 30rem;
    min-width: auto;
    margin-top: -1rem;
  }

  .costing-top {
    padding: 0;
  }

  .costing-bottom {
    padding: 0;
    padding-left: 1rem;
  }

  .costing__list {
    padding-top: 1rem;
  }

  .information-top__list {
    justify-content: initial;
  }

  .information-top__item {
    max-width: 100%;
    margin: 0 0 2rem 1rem;
  }

  .information-top__description {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .information-top {
    padding-top: 3rem;
  }

  .information__title {
    max-width: 17rem;
    margin: 0 auto;
  }

  .technic__item {
    max-width: 19rem;
  }

  .service__item {
    margin-bottom: 1.5rem;
  }
}