@media screen and (max-width: 350px) {
  .header-form__label span {
    font-size: 1rem;
    padding: .6rem .7rem;
  }

  .header__dismantling {
    font-size: 1.2rem;
    line-height: 1.1rem;
  }

  .header__logo {
    max-width: 10rem;
  }
}