@media screen and (max-width: 450px) {
  .header__title--89 {
    font-size: 3.9rem;
    line-height: 3.9rem;
  }

  .header__title--63 {
    font-size: 3rem;
    line-height: 3rem;
    max-width: 29rem;
  }

  .header-form__send {
    flex-direction: column;
    padding: 0 2rem;
  }

  .header-form__input {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .header .stories.carousel .story {
    height: 10rem;
  }

  .header__insta-photo-img {
    max-width: 7rem;
  }

  .header__insta-photo-img::before {
    width: 8rem;
    height: 8rem;
  }

  .header__insta-photo-img::after {
    width: 6.7rem;
    height: 6.7rem;
  }

  .header .stories.carousel .story>.item-link>.item-preview {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
  }

  .header .stories.carousel .story>.item-link>.item-preview::before {
    opacity: 0;
  }

  .header__insta-photo-item::before {
    width: 7rem;
    height: 7rem;
  }

  .header__insta-photo-item::after {
    width: 5.5rem;
    height: 5.5rem;
  }

  .header__insta-photo-item::before,
  .header__insta-photo-item::after {
    transform: translate(-50%, -50%);
  }

  .header__phone {
    text-align: center;
  }

  .header-form__title {
    line-height: 0;
  }

  .form__title__title-main {
    display: block;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .header-form__content {
    padding-top: 1rem;
  }

  .form__title-description {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .header-form__question {
    font-size: 1.4rem;
  }

  .header-form__label span {
    font-size: 1.3rem;
  }

  .header-form__label:not(:last-child) {
    margin-right: .4rem;
  }

  .header-form::before,
  .header-form::after {
    top: -2.2rem;
  }

  .company {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .company__video-image {
    width: 9rem;
    height: 9rem;
  }

  .technic__wrapper {
    padding-top: 3rem;
  }

  .technic,
  .information {
    padding: 4rem 0;
  }

  .information-bottom {
    padding-top: 3rem;
  }

  .company {
    padding-top: 6rem;
  }

  .technic__item {
    margin-bottom: 1rem;
    max-width: 17rem;
    min-height: 100%;
    padding-bottom: 1rem;
  }

  .technic__name {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .technic__description {
    font-size: 1.4rem;
    font-size: 1.5rem;
  }

  .technic {
    padding-left: .5rem;
    padding-right: .5rem;

    .container {
      padding: 0;
    }
  }

  .header-content__info {
    font-size: 2rem;
    max-width: 31rem;
    line-height: 2rem;
  }

  .header-form {
    margin-top: 0.5rem;
  }
}