@media screen and (max-width: 980px) {

  .header__title--89 {
    font-size: 5.9rem;
    line-height: 5.9rem;
  }

  .header__title--63 {
    display: block;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .header-form {
    max-width: 45rem;
  }

  .form__title__title-main {
    font-size: 2.8rem;
  }

  .form__title-description {
    font-size: 2.3rem;
  }

  .header-form__label span {
    padding: .4rem 1rem;
  }

  .header-form__label:not(:last-child) {
    margin-right: .3rem;
  }

  .header__title--89 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .header__title--63 {
    display: block;
    font-size: 3.3rem;
    line-height: 3.1rem;
    max-width: 32rem;
  }

  .header-content__info {
    font-size: 3rem;
    line-height: 3rem;
  }

  .company {
    padding-left: 2rem;
    padding-right: 2rem;

    .container {
      padding: 0;
    }
  }

  .company__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .company__video {
    // margin-left: 1.3rem;
  }

  .company__video {
    max-width: 100%;
    height: 41.8rem;
  }

  .company__description {
    max-width: 100%;
    padding-right: 0;
  }

  .company__list {
    display: flex;
    justify-content: space-between;
    padding-left: 10.8rem;
  }

  .company__item {
    max-width: 14rem;
  }

  .company__item:not(:last-child) {
    margin-bottom: 0;
  }

  .header-form__send {
    button {
      padding: 1.3rem 1.2%;
      width: 100%;
    }
  }

  .costing__image {
    min-width: 35rem;
  }

  .costing__item {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }


  .information-top__item {
    max-width: 40%;
    margin: 0 3rem 5rem 1rem;
  }




  #zuck-modal-content .story-viewer .head {
    margin: 0 auto;
    top: 1rem;
    left: 2.5rem;
    transform: translateX(0);
  }

  #zuck-modal-content .story-viewer .head .left .info {
    order: 1;
    padding-right: 4rem;
  }

  .story-viewer.with-back-button .head .left .item-preview {
    order: 2;
  }

  #zuck-modal-content .story-viewer .head .left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 15px;
    margin: 15px 0;
  }

  #zuck-modal-content .story-viewer .head .left>.back {
    height: auto;
  }
}