@media screen and (max-width: 550px) {
  .header__logo {
    max-width: 17rem;
  }

  .header__dismantling {
    max-width: 16rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .header {
    background-position: -78rem 0rem;
    padding-bottom: 0;

    .container {
      padding: 0;
    }
  }

  .header-top,
  .header__left {
    padding: 0 2rem;
  }

  .header-form {
    max-width: 100%;
  }

  .header__insta-photo-item {
    margin-left: 2rem;
  }

  .header__insta-photo-item::before {
    width: 10.1rem;
    height: 10.1rem;
  }

  .header__title {
    text-align: left;

    span {
      margin-left: 0;
    }
  }

  .header-form__label span {
    padding: .6rem 1rem;
  }

  .header__insta-photo-item::after {
    width: 8.5rem;
    height: 8.5rem;
  }


  .service__item-bottom {
    padding: 1.2rem 0.5rem;
    padding-right: 1rem;
  }

  .service__item-title {
    font-size: 2.2rem;
    line-height: 1.7rem;
  }

  .service__item-top {
    width: 40%;
  }

  .service__item-bottom {
    width: 60%;
  }


  .service__item-el,
  .service__item-detailed {
    font-size: 1.4rem;
  }

  .service__button {
    padding-top: 0;
  }

  .service {
    padding: 4rem 0;
  }

  .service__wrapper {
    padding-top: 2rem;
  }

  .costing__item {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 0;
  }

  .information-bottom__item {
    padding-right: 1rem;
    margin-bottom: 0;
  }

  .information-bottom {
    .slick-dots {
      margin-top: 1rem;
      flex-wrap: wrap;
      max-width: 23rem;

      li {
        margin: 0 1rem;
      }

      button {
        width: 13px;
        height: 12px;
      }
    }
  }

  .map {
    padding-top: 4rem;
  }

  .map__list {
    left: 0;
    top: 3rem;
  }

  .map__wrapper {
    min-height: 40rem;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__privacy-policy {
    margin: 3rem 0;
    border-bottom: 1px solid #fff;
  }

  .popup__input-text,
  .popup__input-file {
    height: 6.7rem;
  }

  .popup__body {
    max-width: 36rem;
    padding: 2rem 2rem;
  }

  .popup__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .popup__close {
    top: 1.5rem;
    right: 1.5rem;
  }

  .popup__input-text:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .popup .button {
    margin-top: 1.5rem;
  }

  .popup__input-file {
    margin-bottom: 1.4rem;
  }
}