@media screen and (max-width: 1150px) {
  .header__title--89 {
    font-size: 7.9rem;
    line-height: 7.9rem;
  }

  .header__title--63 {
    font-size: 5.3rem;
    line-height: 5.3rem;
  }

  .header-content__info {}
}