@media screen and (max-width: 550px) {
  .header__logo {
    max-width: 17rem;
  }

  .header__dismantling {
    max-width: 16rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .header {
    .container {
      padding: 0;
    }
  }

  .header-top,
  .header__left {
    padding: 0 2rem;
  }

  .header-form {
    max-width: 100%;
  }

  .header__insta-photo-item {
    margin-left: 2rem;
  }

  .header__insta-photo-item::before {
    width: 10.1rem;
    height: 10.1rem;
  }

  .header__insta-photo-item::after {
    width: 8.5rem;
    height: 8.5rem;
  }

  .header__insta-photo-item img {
    max-width: 10rem;
  }
}