@media screen and (max-width: 1250px) {
  .company__video {
    max-width: 63rem;
  }

  .service__item {
    max-width: 36rem;
  }

  &__item-list,
  &__item-detailed {
    padding: 0 1.7rem 0 3rem;
  }
}