.subtitle {
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    line-height: 38px;
    &_calculate {
        margin-top: 27px;
        text-align: center;
        margin-bottom: 0;
    }
}