@media screen and (max-width: 960px) {
    /* HEADER */
    .header-content__details {
        padding-top: 50px;
    }
    .header-content__packaging {
        left: -2px;
    }
    .header-bottom__number {
        &::before {
            left: -50px;
        }
    }
    .header-bottom__wrapper {
        margin-left: 90px;
    }
    .header-bottom__item {
        width: 30%;
    }
    /* HEADER */
} 