@media screen and (max-width: 560px) {
    .header-bottom__item {
        width: 100%;
    }
    .header-top__logo {
        width: 110px;
        height: 16px;
        img {
            width: 100%;
        }
    }
    .phone-mobile {
        font-size: 14px;
        font-weight: 500;
        &::before {
            display: none;
        }
        span {
            display: none;
        }
    }
}