@media screen and (max-width: 830px) {
    /* HEADER */
    .header-content__desctiption,
    .header-content__title,
    .header-content__subtitle {
        padding-left: 200px;
    }
    .header-bottom__item {
        margin: 0 2px;
        width: 40%;
    }
    .header-bottom__number {
        &::before {
            display: none;
        }
    }
    /* HEADER */
} 