@media screen and (max-width: 960px) {
    /* HEADER */
    .header-content__details {
        padding-top: 50px;
    }
    .header-content__packaging {
        left: -2px;
    }
    .header-bottom__number {
        &::before {
            left: -50px;
        }
    }
    .header-bottom__item {
        width: 35%;
    }
    /* HEADER */
} 