@media screen and (max-width: 960px) {
    /* HEADER */
    .header-content__title {
        display: block;
        margin-top: 13px;
        width: 330px;
        line-height: 60px;
    }
    .header-content__desctiption,
    .header-content__title,
    .header-content__subtitle {
        padding-left: 50px;
    }
    /* HEADER */
} 