@media screen and (max-width: 640px) {
    .list {
        padding-bottom: 20px;
    }
    .list-skeleton__img,
    .list-skeleton__round {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }
    .list-ailments__join-one {
        flex-direction: column;
    }
    .form_list-skeleton {
        position: relative;
        left: 0;
        bottom: 0;
        transform: translate(0);
        margin: 0 auto;
    }
    .list-ailments__join-two, 
    .list-ailments__join-three {
        width: 100%;
    }
    .list-ailments__join-one {
        .list-ailments__item {
            border-right: none;
            padding-left: 0;
        }
    }
    .list-rectangle {
        height: 100%;
    }
    .list-skeleton {
        margin-top: 0;

        a {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .button-list-table {
        margin-top: 5px;
    }
}