.gallery {
    position: relative;
    padding: 52px 0 70px 0;
    min-height: 929px;
    background: rgba(241, 64, 59, .25);
    &__wrapper {
        padding-top: 78px;
    }
    &__item {
        width: 297px;
        height: 297px;
        margin-bottom: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &_one {
            background-image: url('../img/gallery/1.jpg');
        }
        &_two {
            background-image: url('../img/gallery/2.jpg');
        }
        &_three {
            background-image: url('../img/gallery/3.jpg');
        }
        &_four {
            background-image: url('../img/gallery/4.jpg');
        }
        &_five {
            background-image: url('../img/gallery/5.jpg');
        }
        &_six {
            background-image: url('../img/gallery/6.jpg');
        }
    }
}

.lg-backdrop {
    background: rgba(0, 0, 0, .25);
}


.lg-actions .lg-prev:after,
.lg-actions .lg-next:before {
    content: '';
}
.lg-actions,
.lg-next, 
.lg-actions, 
.lg-prev {
    background-color: transparent !important;
}

.lg-actions .lg-prev:hover:after {
    background: #fff;
}

.lg-prev,
.lg-next {
    background-image: url('../img/icons/to-left.svg');
    width: 60px;
    height: 60px;
}
.lg-next {
    transform: rotate(180deg);
}



























.jBox-image-label-container {
    top: 50%;
    transform: translateY(-50%);
    
}
.jBox-image-pointer-prev,
.jBox-image-pointer-next {
    background-image: url('../img/icons/to-left.svg');
    background-size: auto;
    width: 60px;
    height: 60px;
}    
.jBox-image-pointer-prev {
    left: -110px;
}
.jBox-image-pointer-next {
    right: -110px;
}
.jBox-overlay.jBox-overlay-Image {
    background: rgba(0, 0, 0, .15);
}
.jBox-closeButton {
    opacity: 0;
    pointer-events: none;
}