.header {
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.25) 45.02%,rgba(0, 0, 0, 0.25) 100%), url('../img/promo/promo-bg.jpg');
    min-height: 700px;
    &-top {
        min-height: 50px;
        padding: 12px 0;
        background: #000000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
    &-contact {
        padding-left: 29px;
        &__mail, 
        &__phone {
            position: relative;
            font-size: 12px;
            color: #fff;
            transition: all .3s ease-in-out;
            &:hover {
                color: #F1403B;
                text-decoration: none;
            }
            &::before {
                content: '';
                position: absolute;
            }
        }
        &__mail {
            &::before {
                background-image: url('../img/icons/email-icon.svg');
                width: 25px;
                height: 18.96px;

                left: -30px;
                top: -3px;
            }
        }
        &__phone {
            padding-left: 35px;
            &::before {
                background-image: url('../img/icons/phone-icon.svg');
                width: 18px;
                height: 17.92px;

                left: 11px;
                top: -2px;
            }
        }
    }
    &-content {
        &__wrapper {
            padding-top: 158px;
        }
        &__title {
            font-size: 64px;
            text-transform: uppercase;
            line-height: 51px;
            color: #fff;
            span {
                font-size: 36px;
                display: block;
            }
        }
    }
}