.masters {
    min-height: 711px;
    background: #1A1A1A;
    padding: 54px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    &__wrapper {
        padding-top: 80px;
    }
    &-content {
        &__item {
            display: flex;
            display: none;
            &_one {
                display: flex;
            }
        }
        &__border {
            position: relative;
            width: 430px;
            height: 430px;
            border-radius: 50%;
            border: 3px dashed #F1403B;
            padding: 11px;
            // &::after { Возможно в будущем!!!!!!!!!!
            //     position: absolute;
            //     content: '';
            //     width: 430px;
            //     height: 430px;
            //     border-radius: 50%;
            //     border: 3px dashed #F1403B;
            //     left: -4px;
            //     top: -3px;
            //     pointer-events: none;

            //     animation-name: transformRotate;
            //     animation-duration: .3s;
            //     animation-iteration-count: infinite;

            // }
        }
        &__img {
            border-radius: 50%;
            width: 100%;
        }
        &__description {
            padding-left: 61px;
            padding-top: 57px;
        }
        &__title, 
        &__subtitle,
        &__detailed {
            text-transform: capitalize;
        }
        &__title {
            font-size: 26px;
            color: #fff;
            font-weight: 400;
            margin-bottom: -5px;
        }
        &__subtitle {
            font-size: 22px;
            color: #F1403B;
            font-weight: 400;
        }
        &__detailed {
            padding-top: 5px;
            font-size: 20px;
            color: #fff;
        }
    }
    &-tabs {
        position: relative;
        left: 457px;
        margin-top: -176px;
        width: 680px;
        &__item {
            cursor: pointer;
            width: 155px;
            margin-right: 11px;
            transition: all .3s ease-in-out;
            opacity: .5;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 100%;
                border-radius: 50%;
                pointer-events: none;
            }
            &_active {
                opacity: 1;
                border-radius: 50%;
                border: 1px dashed #F1403B;
                padding: 3px;
            }
        }
    }
}