.reviews {
    background: #fff;
    padding: 57px 0 108px 0;
    font-family: 'Montserrat', sans-serif;
    &__wrapper {
        position: relative;
        padding-top: 77px;
    }
    &-items {
        display: flex;
        &__item {
            width: 573px;
            min-height: 298px;
            background: rgba(241, 64, 59, 0.1);
            border-radius: 25px;
            padding: 23px; 
            padding: 25px 0 23px 23px;
            margin-right: 30px;
        }
        &__name {
            font-weight: 500;
            font-size: 24px;
            color: #000000;
            margin-bottom: 0;
        }
        &__rating {
            color: #F1403B;
            font-size: 24px;
            margin-top: -6px;
            margin-left: -3px;
        }
        &__description {
            padding-top: 10px;
            font-weight: 500;
            letter-spacing: -0.3px;
            font-size: 22px;
            line-height: 27px;
            color: #1A1A1A;
            margin-bottom: 0;
        }
    }
}