.news-container {
    padding-top: 80px;
}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-inner {
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 360px;
    border-radius: 4px;
    transition: .3s all;
    box-shadow: 0px 0px 2px 0px;
    &:hover {
        box-shadow: 0px 0px 13px 0px;
    }
    &__direction {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        img {
            width: 100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    &__detailed {
        padding: 0 25px;
    }
    &__title {
        margin-top: 15px;
        color: #000;
        font-size: 24px;
        margin-bottom: 0;
    }
    &__autor {
        margin-top: 5px;
        color: #6b6b6b;
        margin-right: 0;
        font-size: 11px;
    }
    &__description {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__data {
        display: block;
        padding-left: 25px;
        font-size: 13px;
        color: #a7a7a7;
        margin-right: 0;
        margin-left: auto;
    }
}