@import '../base/variables';

.nav {
  &-list, 
  &-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-item { 
    margin-left: -.2rem; 
    margin-bottom: 3.4rem; 
    &:last-child { margin-bottom: 0; }
  }
  &-link {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: $color-by-hover;
      .nav-link__image {
        svg { fill: $color-by-hover; }
      }
    }
    &__name {
      display: block;
      padding-left: 5px;
      
      text-align: center;
      font-size: 12px;
      letter-spacing: 3px;
      font-weight: 500;
      &--1 { padding-top: 2px; }
      &--2 { padding-top: 3px; }
      &--3 { padding-top: 4px; }
    }
  }
}