.diagnostics {
    min-height: 705px;
    padding: 100px 0;
    &__wrapper {
        margin-top: 100px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__border {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 170px;
        border: 5px solid #ffbc3b;
        border-radius: 100%;
    }
    &__description {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 400;
        span { 
            display: block;
        };
    }
}