.edward {
    min-height: 770px;
    background-color: #0b3554;
    padding: 100px 0;
    color: #ffffff;
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
    }
    &__subtitle {
        margin-top: 13px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &__left {
        text-align: left;
    }
    &-list {
        padding-left: 18px;
        font-size: 16px;
        font-weight: 700;
        &__item {
            margin-bottom: 45px;
            padding-left: 30px;
        }
        &__link-color {
            color: #ffffff;
            border-bottom: 1px solid #a4b4bf;
            &:hover {
                color: #a4b4bf;
                text-decoration: none
            }
            &_active {
                color: #579eff;
                border: none;
                &:hover {
                    color: #579eff;
                    border: none;
                }
            }
        }
    }
    .extra {
        padding-left: 18px;
    }
    &__link {
        font-size: 14px;
        margin-left: 30px;
        position: relative;
        color: #ffffff;
        border-bottom: 1px solid #a4b4bf;
        &:hover {
            color: #a4b4bf;
            text-decoration: none;
        }
        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 20px;
            left: -48px;
            top: 64%;
            transform: translateY(-50%);
            background: url('../img/icons/reloader.svg');
        }
    }
}

.square {
    display: none;
    position: relative;
    top: 14px;
    left: 0px;
    width: 330px;
    min-height: 147px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    padding: 13px 33px 1px 15px;
    &__triangle {
        position: absolute;
        top: -20px;
        left: 10px;
        border: 10px solid transparent;
        border-bottom: 11px solid #ffffff;
    }
    p {
        line-height: 17px;
        color: #000000;
        font-size: 14px;
        font-weight: 600;
    }
    &__close {
        position: absolute;
        color: #000;
        font-size: 30px;
        right: 14px;
        top: 0px;
        cursor: pointer;
    }
    &_active {
        display: block;
        animation: appearanceDown 0.3s;
    }

}

@keyframes appearanceDown {
    from {
        transform: translate3d(0, -6%, 0);
    }
    
    to {
        transform: translate3d(0, 0, 0);
    }
}


.edward-right {
    position: relative;
    width: 570px;
    height: 390px;
    &__additionally {
        position: relative;
    }
    &__img {
        width: 100%;
    }
    &__description {
        position: absolute;
        width: 230px;
        left: 0;
        bottom: 0px;
        padding: 12px 29px 11px 19px;
        font-size: 14px;
        font-weight: 400;
        background: rgba(4, 21, 33, 0.8);
    }
}

