.advantages {
  position: relative;
  padding: 79px 0 13px;
  background-image: url('../img/background/ellipse-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  &__wrapper {
    padding-top: 38px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    position: relative;
    z-index: 10;
    width: 23%;
    border-radius: 10px;
    margin: 0 10px 20px;
    min-height: 100%;
    background-color: #fff;
    border: 1px solid #C3C2E2;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .advantages__item-header {
        background-color: #662383;
        border: 1px solid #662383;
      }
      .advantages__item-title {
        font-size: 18px;
        color: #fff;
      }
      .advantages__item-text {
        color: #000;
      }
    }
    &--important {
      font-weight: 500;
    }
    &--block {
      display: block;
    }
  }
  &__item-header {
    padding: 10px 12px;
    text-align: center;
    width: 100%;
    min-height: 98px;
    background: #C3C2E2;
    border: 1px solid #C3C2E2;
    border-radius: 10px 10px 0px 0px;
  }
  &__item-title {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #662383;
    margin-bottom: 0;
  }
  &__item-content {
    padding: 14px 10px;
  }
  &__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #4A4941;
  }
}