.feedback {
  &__wrapper {
    padding-top: 70px;
  }
  &__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
  }
  &__item-content {
    max-width: 710px;
  }
  &__item-title {
    max-width: 670px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-indent: 15px;
    color: #968FB2;
  }
  &__item-description {
    padding-top: 10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;    
    text-indent: 15px;
    color: #000000;
  }
  &__item-author {
    display: block;
    padding-top: 30px;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #6F6F6F;
  }
  &__item--block {
    display: block;
  }
  &__item-image {
    max-width: 380px;
    img {
      width: 100%;
    }
  }
}