.promo {
  padding-top: 44px;
  &__title {
    text-transform: uppercase;
    max-width: 670px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    color: #000000;
    letter-spacing: -1px;
    &-important {
      display: block;
      color: #662383;
      font-size: 36px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__offer {
    position: relative;
    width: 510px;
    height: 510px;
    background: linear-gradient(291.29deg, #D04B62 11.67%, #F2B386 88.13%);
    border-radius: 100%;
    margin-right: 40px;
    z-index: 1;
  }
  &__offer-image {
    position: absolute;
    width: 509px;
    height: 763px;
    left: -88px;
    top: -220px;
    z-index: -1;
  }
  &__offer-information {
    max-width: 225px;
    padding-top: 100px;
    margin-left: auto;
  }
  &__offer-description {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  &__offer-important {
    font-weight: 600;
    text-transform: uppercase;
  }
  &__offer-important-16 {
    font-size: 16px;
  }
  &__offer-important-18 {
    font-size: 18px;
  }
  &__offer-important-28 {
    font-size: 24px;
    line-height: 28px;
  }
  &__offer-important-48 {
    font-size: 48px;
    line-height: 65px;
  }
  &__offer-important-width {
    display: block;
    max-width: 168px;
  }
  &__offer-important-block {
    display: block;
  }
  &__information {
    padding-top: 40px;
    max-width: 550px;
  }
  &__information-title {
    max-width: 480px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
  }
  &__information-description {
    padding-top: 53px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }

}