@import '../base/animate';

.button {
  position: relative;
  border: none;
  padding: 1.5rem 2rem;
  border-radius: .4rem;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;

  &--blick {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;

    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 3rem;
      height: 30rem;
      left: -4rem;
      top: -15rem;
      animation: animateBlick 4s infinite;
      animation-delay: 0.05s;
      background: #fff;
      background-color: rgba(255, 255, 255, 0.5);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    }
  }

  &:focus {
    outline: none;
  }

  &-form {
    font-size: 1.6rem;
    padding: 1.3rem 1rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  }

  &-large {
    padding: 1.3rem 3.9rem;
  }

  &--popup {
    display: block;
    width: 100%;
    font-size: 3rem;
  }

  &--weight-600 {
    font-weight: 600;
  }

  &--orange {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #F9641B;
    box-shadow: 0px 22px 44px rgba(249, 100, 27, 0.24), inset 0px 0px 5px rgba(255, 255, 255, 0.38);

    &.button--shadow {
      box-shadow: 0px 22px 44px -12px rgba(255, 104, 29, 0.75);
    }

    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #F9641B;
    }
  }

  &--green {
    background: linear-gradient(95.33deg, rgba(12, 198, 123, 0) 1.59%, #00D881 92.15%), #0CC67B;

    &.button--shadow {
      box-shadow: 0px 22px 44px -12px rgba(12, 198, 123, 0.75);
    }

    &:hover {
      background: linear-gradient(0deg, rgba(12, 198, 123, 0) 1.59%, #00D881 92.15%), #0CC67B;
    }
  }

  &-icon {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--paperclip::before {
    width: 1.4rem;
    height: 1.4rem;
    background-image: url('../img/icons/paperclip-icon.svg');
    top: 50%;
    transform: translateY(-50%);
    left: -1.5rem;
  }

  &--online::before {
    width: 0.7rem;
    height: 0.7rem;
    background: #0CC67B;
    box-shadow: 0px 0px 7px rgba(12, 198, 123, 0.57);
    border-radius: 50%;
    right: -.7rem;
    top: -.4rem;
  }
}