@media screen and (max-width: 620px) {
    .title {
        font-size: 30px;
    }

    // ABOUT
    .about-slider__title {
        font-size: 22px;
    }
    .about-slider__detailed {
        br {
            display: none;
        }
    }
    .about-slider__characteristic_power {
        max-width: 275px;
    }
    // /.ABOUT

    // GALLERY
    .gallery {
        min-height: 524px;
    }
    .gallery-left {
        max-height: 542.5px;
    }
    .gallery-right {
        margin-top: -100px;
    }
    .gallery-right__img {
        height: 100px;
    }
    .gallery-right__one {
        width: 140px;
    }
    .gallery-right__two {
        width: 160px;
    }
    .gallery-right__three {
        width: 130px;
    
    }
    .gallery-right__four {
        display: none;
    }
    // /.GALLERY

    // MODELS
    .models {
        min-height: 524px;
    }
    .models-slider__item {
        height: 524px;
    }
    // /.MODELS

    /* POPUP */
    .popup {
        width: 380px;
        height: 251px;
        padding: 50px 25px 50px 25px;
    }
    .button_popup {
        width: 159px;
        height: 65px;
        font-size: 16px;
    }
    .popup__text {
        font-size: 20px;
    }

    .popup_two {
        height: 280px;
        padding: 40px 25px 40px 25px;
    }
    .popup__rejection {
        margin-top: 20px;
        font-size: 20px;
    }
    /* /.POPUP */
}
