.header {
    min-height: 7rem;
    background-color: $header-bg;
    padding: 9px 0;
    &__wrapper {
        position: relative;
        a { 
            color: $color-text; 
            text-decoration: none;
        }
    }
    &-title { margin-bottom: 0; }
    &-title-link {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        &:hover { color: rgba($color: $active-color, $alpha: .5); }
    }
}

.nav {
    &-item { 
        padding-right: 2.7rem; 
        &:last-child {padding-right: 0;} 
    }
    &-link { 
        color: $color-text; 
        text-decoration: none;
        position: relative;
        font-size: 1.6rem; 
        &::before {
            content: '';
            position: absolute;
            height: .2rem;
            width: 0;
            left: 0;
            bottom: -.7rem;
            background-color: $active-color;
        }
        &:not(.nav-link-active):hover {
            color: $active-color;
            &::before { width: 45%; }
        } 
        &-active { color: $active-color; }
    }
}

.nav-link-active {
    color: $active-color!important;
    font-weight: 600;
    &::before { width: 100%; }
}

.open-search {
    border: none;
    background: transparent;
}
.open-search svg:hover { fill: $active-color; }

.сurrency {
    font-weight: 300;
    font-size: 14px;
    color: $color-text;
    padding-right: 5rem;
    &-europe { padding-left: 2.4rem; }
}