.news {
    padding-top: 4rem;
    &-item {
        color: $color-text;
        width: 36.8rem;
        min-height: 18.9rem;
        background-color: $news-color-bg;
        padding: 2.3rem 1.6rem;
        margin-bottom: 2rem;
        &__img {
            width: 0;
            position: absolute;
            visibility: hidden;
            pointer-events: none;
        }
        &__information {
            padding-left: 1.8rem;
        }
        &__person {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                top: 50%;
                transform: translateY(-50%);
                left: -1.7rem;
                @include base-style-bg;
            }
        }
        &__date {
            &::before { background-image: url('../img/time-icon.svg'); }
        }
        &__user {
            padding-left: 3.4rem;
            &::before {
                left: 1.8rem;
                background-image: url('../img/user-icon.svg');
            }
        }
        &__detailed { padding-top: 0.5rem; }
        &__title {  margin-bottom: 0; }
        &__link {
            display: block;
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
            color: $color-text;
            &:hover {
                text-decoration: none;
                color: $active-color;
            }
        }
        &__description {
            padding-top: 1rem;
            font-size: 14px;
            line-height: 21px;
            color: $color-text;
            margin-bottom: 0;
        }
        &:first-child,
        &:nth-child(2) {
            display: flex;
            padding: 0;
            width: 56rem;
            min-height: 24.4rem;
            .news-item__img {
                display: block;
                width: 50%;
                position: static;
                visibility: visible;
                pointer-events: all;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .news-item__template {
                width: 50%;
                padding-top: 2.7rem;
                padding-left: 1.6rem;
                padding-right: 1rem;
                padding-bottom: 1.5rem;
            }
        }
    }
}