.title {
    text-align: center;
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;/* line-height: 22px; */
    letter-spacing: 0.3px;
    &_about-service {
        color: #fff;
    }
    &_advantage {
        line-height: 32px;
        span {
            display: block;
        }
    }
    &_free-consultation {
        line-height: 35px;
        max-width: 466px;
        text-align: left;
        color: #fff;
        
    }
    &_tariff {
        text-align: left;
    }
}

.subtitle {
    margin-top: 40px;

    color: #313131;
    font-family: "Muller", sans-serif;
    font-size: 18px;
    font-weight: 700;
    &_tariff {
        max-width: 630px;
    }
}