.display-flex {
    display: flex;
}

.ul-none {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.background-base {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.justify-space-between {
    justify-content: space-between;
}
.justify-con-center {
    justify-content: center;
}

.flex-d-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

