.footer {
    min-height: 93px;
    padding: 17px 0 7px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        margin-left: -1px; // для PP
    }
    &__link {
        display: flex;
    }
    &__privacy,
    &__agreement {
        padding-top: 7px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
    &__privacy {
        padding-left: 69px;
    }
    &__agreement {
        padding-right: 2px;
    }
}