@media screen and (max-width: 829px) {
    .header {
        padding-bottom: 30px;
    }
    .header-promo__subtitle {
        margin-bottom: 30px;
    }
    .header-promo__application-enter {
        margin-top: 10px;
    }
    .click-mouse {
        bottom: 20px;
    }
}