@media screen and (max-width: 561px) {
    .header-promo {
        text-align: left;
    }
    .button_header {
        margin-left: 0;
    }
    .header-promo__application-enter {
        margin-left: 0;
    }
}