@media screen and (max-width: 400px) {
    .header-promo__title {
        font-size: 37px;
        span {
            font-size: 29px;
        }
    }
    .header-promo__subtitle {
        font-size: 17px;
    }
}