// Базовые файлы для подключения
@import 'base/bootstrap-reboot.min';
@import 'base/fonts';
@import 'base/mixins';



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.container {
    // max-width: 1625px; // 1595 - container + 30 из-за padding с левой и правой стороны = 1625px
    max-width: 1641px; // 1595 - container + 30 из-за padding с левой и правой стороны = 1625px
    margin: 0 auto;
    padding: 0 15px;
}



// Повтоярющиеся или отдельные элементы
@import 'repeats/social';
@import 'repeats/button';
@import 'repeats/form';

// Секции 
@import 'sections/header';
@import 'sections/countrys';
@import 'sections/contact';
@import 'sections/footer';