.todo-list-item-template {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 55px;
    background-color: #fff;
    padding-left: 30px;
    border-bottom: 1px solid #414141;
}

.todo-list-item-label {
    margin: 0;
    font-size: 20px;
    color: #000000; 
}

.todo-list-item-delete {
    cursor: pointer;
    width: 54px;
    height: 54px;
    border: none;
    background: none;
    background: #CA1E1E;
}

.todo-list-item-delete svg {
    pointer-events: none;
}