// Стрелочка в мобильном разрешении
// Вначле отключена, на 530 влюкчается
.mobile-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

// Стрелки, которые находятся
// во второй секции у слайдера
.arrow-slick {
    position: absolute;
    background: none;
    border: none;
    right: -2px;
    bottom: 45px;
    z-index: 100;
    &:hover {
        svg {
            path {
                transition: all .3s ease;
                fill: #55A5FF;
            }
        }
    }
    &_prev {
        transform: translateY(-50px);
    }
    &_next {
        transform: rotate(180deg);
    }
}

// Стрелки, которые находястя
// в третьей секции, галерея
.arrow-gallery-bg {
    position: absolute;
    background: none;
    border: none;
    right: 0;
    bottom: 0;
    right: 125px;
    bottom: 109px;
    z-index: 30;
    &:hover {
        svg {
            path {
                transition: all .3s ease;
                fill: #55A5FF;
            }
        }
    }
    &_next {
        transform: rotate(180deg);
    }
    &_prev {
        transform: translateY(-50px);
    }
    &_tablet {
        display: none;
    }
}


.arrow-models {
    position: absolute;
    bottom: 26px;
    right: 0;

    background: none;
    border: none;
    &:hover {
        svg {
            path {
                transition: all .3s ease;
                fill: #55A5FF;
            }
        }
    }
    &_next {
        transform: rotate(180deg) translate(-2px, -2px);
    }
    &_prev {
        right: auto;
        left: 0;
    }
}