.button {
    width: 232px;
    height: 70px;
    background: #0A5EBD;
    border: none;

    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #E6F0F5;
    &_header {
        margin-top: 45px;
    }
    &_models {
        margin-top: 14px;
    }
    &_contacts {
        margin-top: 46px;
    }
}