.hamburder {
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 23px;
    span {
        position: absolute;
        width: 24px;
        height: 2px;
        background: #E6F0F5;
        &:first-child {
            transform: translateY(0.4px);
        }
        &:nth-child(2) {
            transform: translateY(8px);
        }
        &:last-child {
            transform: translateY(15.4px);
        }
    }
    &_about {
        padding-top: 11px;
    }
}
