.vertical-menu {
    position: absolute;
    top: 52%;
    right: 10px;
    transform: translateY(-50%);
    width: 8px;
    height: 152px;
    &__square {
        position: absolute;

        width: 8px;
        height: 8px;
        background: #778AA2;
        &_two {
            transform: translateY(60px);
        }
        &_three {
            transform: translateY(88px);
        }
        &_four {
            transform: translateY(115px);
        }
        &_five {
            transform: translateY(143px);
        }
        &_active {
            background: #E6F0F5;
            transform: translateX(3px);
            width: 2px;
            height: 40px;
        }
    }
    &_about {
        top: 51%;
        .vertical-menu__square_active {
            transform: translateX(3px) translateY(26px);
        }
    }
    &_gallery {
        top: 50%;
        right: 137px;
        z-index: 30;
        .vertical-menu__square {
            background: #E6F0F5;

        }
        .vertical-menu__square_two {
            transform: translateY(29px);
        }
        .vertical-menu__square_active {
            background: #E6F0F5;
            transform: translateX(3px) translateY(55px);
        }
    }
    &_gallery-tablet {
        display: none;
    }
    &_models {
        top: 50%;
        span {
            background: #E6F0F5;
        }
        .vertical-menu__square_one {
            transform: translateY(2px);
        }
        .vertical-menu__square_two {
            transform: translateY(30px);
        }
        .vertical-menu__square_three {
            transform: translateY(58px);
        }
        .vertical-menu__square_active {
            transform: translateX(3px) translateY(86px);
        }
    }
    
}
