.hamburger {
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    &-list {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #7d7d7d;
        margin: 2rem;
    }
    &-line {
        display: block;
        height: .4rem;
        width: 2.6rem;
        border-radius: .3rem;
        background-color: #fff;
        margin-bottom: .4rem;
        &:last-child { margin-bottom: 0; }
    }
    &-active {
        .hamburger-line--1 {
            transform: translate(0px,.3rem) rotate(45deg);
        }
        .hamburger-line--2 { opacity: 0; position: absolute; transform: translateX(-.1rem); }
        .hamburger-line--3 { 
            transform: translate(0px,-.5rem) rotate(-45deg);
        }
    }
}
