.phone {
    display: block;
    font-weight: 400;
    font-size: 2.3rem;
    color: #333333;
    &:hover { text-decoration: none; }
    &--header { text-align: right; }
    &--promo {
        color: #FDCC13;
        font-size: 2.8rem;
        &:hover { color: #FDCC13; }
    }
}
