@media screen and (max-width: 460px) {
    //---EVENT-COMPANY---
    .event-company__left {
        max-width: 300px;
    }
    .event-company__slider {
        max-width: 300px;
        padding: 45px 2px 10px 20px;
    }
    .event-company__background-yellow {
        left: 20px;
    }

    .footer__link {
        max-width: 280px;
        margin: 0 auto;
    }

}