@media screen and (max-width: 600px) {
    //---NAV---
    .relation-list_header {
        li {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    //---EVENT-COMPANY---
    .event-company__left {
        max-width: 430px;
    }
    .event-company__slider {
        max-width: 430px;
        padding: 62px 0px 47px 10px;
    }
    .event-company__background-yellow {
        left: 0;
    }



}