@media screen and (max-width: 1169px) {
    //---OURS-SERVICES---
    .ours-services__content {
        justify-content: space-around;
    }

    //---EVENT-COMPANY---
    .event-company__left {
        max-width: 430px;
    }
    .event-company__slider {
        max-width: 430px;
        padding: 62px 0px 47px 10px;
    }
}