@font-face {
	font-family: 'Raleway';
	src: url('../font/Raleway/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../font/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/Raleway/Raleway-Light.woff') format('woff'),
		url('../font/Raleway/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../font/Muller/MullerLight.eot');
    src: url('../font/Muller/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Muller/MullerLight.woff2') format('woff2'),
        url('../font/Muller/MullerLight.woff') format('woff'),
        url('../font/Muller/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../font/Raleway/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../font/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Raleway/Raleway-Regular.woff') format('woff'),
		url('../font/Raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../font/Muller/MullerRegular.eot');
    src: url('../font/Muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../font/Muller/MullerRegular.woff2') format('woff2'),
        url('../font/Muller/MullerRegular.woff') format('woff'),
        url('../font/Muller/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('Muller-Medium'),
      url('../font/Muller/MullerMedium.woff2') format('woff2'),
      url('../font/Muller/MullerMedium.woff') format('woff'),
      url('../font/Muller/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../font/Raleway/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../font/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/Raleway/Raleway-Bold.woff') format('woff'),
		url('../font/Raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('Muller-Bold'),
      url('../font/Muller/MullerBold.woff2') format('woff2'),
      url('../font/Muller/MullerBold.woff') format('woff'),
      url('../font/Muller/MullerBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ------------------------------------------------------------------------------ */






