.arrow-left, 
.arrow-right {
    position: absolute;
    border: 1px solid #fff;

    width: 40px;
    height: 40px;
    background: transparent;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        background-color: #ffc222;
    }
}

.arrow-left {
    background-image: url('../img/arrow-left.svg');
    @include no-repeai-img;
    background-size: auto;
}
.arrow-right {
    background-image: url('../img/arrow-right.svg');
    @include no-repeai-img;
    background-size: auto;
    left: auto;
    right: 0;
}

.arrow-left_promo,
.arrow-right_promo {
    top: 67%;
}

.arrow-left_event-company, 
.arrow-right_event-company {
    top: auto;
    background-image: url('../img/arrow-left-gray.png');
    border: 1px solid #dadada;
    @include no-repeai-img;
    background-size: auto;
    bottom: -95px;
    &:hover {
        background-image: url('../img/arrow-left.svg')
    }
}
.arrow-left_event-company {
    right: 60px;
    left: auto;
}
.arrow-right_event-company {
    transform: rotate(180deg) translateY(20px);
}
