header {
    height: 50px;
    position: relative;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #ffffff;

}

.menu {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__list {
        padding-left: 23px;
        display: flex;
        list-style-type: none;
    }
    &__link {
       margin-left: 30px;
       font-size: 14px;
        font-weight: 400;
        a {
            color: #000000;
        }
       &:nth-child(1) {
           margin-left: 0;
           letter-spacing: 0.14px;
       }
    }
}
