.call-us {
    min-height: 50.4rem;
    background-image: url('../img/bg/call-us-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6.7rem 0 7.9rem 0;
    &__description {
        max-width: 615px;
        font-size: 18px;
        margin-top: 5.2rem;
        line-height: 1.67;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
    }
}