.button {
    display: block;
    width: 270px;
    height: 70px;
    border: none;
    background: linear-gradient(180deg, #8C1313 0%, #981515 50.52%, #8C1313 100%);
    border-radius: 100px;

    font-weight: 600;
    font-size: 24px;
    color: #fff;
    transition: .3s all;
    &:hover {
        color: #332727;
        background: linear-gradient(180deg, #d69f13 0%, #d69f13 50.52%, #d69f13 100%);
    }
    &_header-content {
        margin-top: 54px;
        margin-left: 4px;
    }
    &_countrys-content {
        padding-left: 0px;
        margin-top: 53px;
        margin-left: 3px;
    }
    &_form {
        position: relative;
        left: 56px;
        padding-top: 3px;
        padding-left: 2px;
    }
}