// Базовые файлы для подключения
@import 'base/bootstrap-reboot.min';
@import 'base/slick';
@import 'base/mixins';


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1139px; //1110px + 15 с левой стороны и 15 с правой =
    padding: 0 22px; // 15
    margin: 0 auto;
}


// Подключение повторяющихся элементов
// или единичных, которые стоит вынести
@import 'repeats/logo';
@import 'repeats/hamburgers';
@import 'repeats/vertical-menu';
@import 'repeats/buttons';
@import 'repeats/arrows';
@import 'repeats/title.scss';


// Подключение секций
@import 'sections/header';
@import 'sections/about';
@import 'sections/gallery';
@import 'sections/model';
@import 'sections/contacts';



// Изминение значений бэкграунта на экранах
@import 'media/media-bg';
@import 'media/media1030';
@import 'media/media900';
@import 'media/media840';
@import 'media/media730';
@import 'media/media530';
