.arrow {
  position: absolute;
  border: none;
  background-color: transparent;
  z-index: 40;
  &-right {
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
  }
  &-left {
    left: -45px;
    top: 50%;
    transform: rotateY(180deg) translateY(-50%);
  }
}