.button {
  padding: 10px 28px;
  border-radius: 89px;
  border: none;
  background-color: #52B153;
  
  font-size: 14px;
  max-width: 190px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #FFFFFF;
  &:hover {
    background-color: darken($color: #52B153, $amount: 10)
  }
  &-form {
    background-color: #662383;
    border-radius: 59px;
    font-family: 'Montserrat', sans-serif;
    padding: 4px 70px;
    max-width: 280px;
    width: 100%;
    font-size: 16px;
    &:hover {
      background-color: darken($color: #662383, $amount: 10)
    }
  }
  &--important {
    font-weight: 600;
  }
  &--size-18 {
    display: block;
    font-size: 18px;
  }
  &-form-tablet {
    max-width: 23%;
    padding: .3% 3%;
  }
}