.call {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../../img/icons/call.svg');
    left: -46px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__phone {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    &:hover {
      text-decoration: none;
      color: #52b153;
    }
  }
  &__free {
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    color: #51534A;
  }
}