//БАЗОВЫЕ СТИЛИ
@import 'base//bootstrap-reboot.min';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


//ОТСТУП СЕКЦИИ СВЕРХУ И СНИЗУ
.todolist {
    margin: 3% 0;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

//СТИЛИ TODOLIST
@import 'sections/todolist/form';
@import 'sections/todolist/style-task';
@import 'sections/todolist/buttons';


//МЕДИА ЗАПРОСЫ
@import 'media/media540';