.promo {
    min-height: 497px;
    padding: 123px 0 128px 0;
    background: rgba(#000000, .7);
    &__wrapper {
        text-align: center;
        position: relative;
    }
    &__postition {
        position: relative;
    }
    &__title {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1.5px;
    }
    &__subtitle {
        display: block;
        margin-top: 10px;
        margin: 0 auto;
        max-width: 615px;
        color: #d3d2d2;
        font-family: "PT Serif";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}