.details {
    min-height: 580px;
    padding: 100px 0 98px 0;
    background: url('../img/bg/details-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #ffffff;
    &__title {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        margin: 0;
    }
    &__subtitle {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    &__description {
        margin-top: 60px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
    &__or {
        margin-top: 20px;
    }
    &__link {
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        &:hover {
            color: #ffffff;
        }
    }
}

.details-form {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    input {
        width: 370px;
        height: 70px;
        background-color: #f2f2f2;
        border: none;

        color: #818181;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 60px;
        outline-color: red;
    }
    &__phone {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            z-index: 3;
            width: 20px;
            height: 20px;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/tele.svg') center center no-repeat;
            background-size: cover;
        }
    }
}
