@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@import './base/bootstrap-reboot.min';
@import './macro-css';

body {
  background-color: #12141D;

  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
