<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500,700&display=swap")
        link(rel="stylesheet", href="./css/style.min.css")
        link(rel="shortcut icon", href="./img/favicone.ico", type="image/x-icon")
        title ShapeUp
    body
        header.header#header
            .container
                .header-top.d-flex.j-content-between
                    a.logo(href="#")
                        img(src="./img/logo.svg", alt="shapeup")
                    nav.header-nav
                        .hamburger.hide-the-item.hamburger-show
                            span
                            span
                            span
                        ul.header-nav__list.header-list-tablet.ul-none.d-flex
                            li.header-nav__link
                                a.is-nav-active(href="#header") Home
                            li.header-nav__link
                                a(href="#about") About
                            li.header-nav__link
                                a(href="#meet") Trainers
                            li.header-nav__link
                                a(href="#choose") Service
                            li.header-nav__link
                                a(href="#reviews") Reviews
                            li.header-nav__link
                                a(href="#pricing") Price
                            li.header-nav__link
                                a(href="#blog") Blog
                            li.header-nav__link
                                a(href="#contact") Contact
                .header-content
                    h1.header-content__title 
                        span Build
                        |   Your Body 
                        br
                        span Transform
                        |   Your Life
                    p.header-content__subtitle Curabitur ac volutpat odio. Nunc eget eros viverra, laoreet ligula eget, interdum augue. 
                        br
                        |   Pellentesque ornare mauris a hendrerit imperdiet.
                    .header-content__buttons
                        button.button.button-header-mobile.button-background.button-hover-linear-gradient.button--header Get Started
                        button.button.button-header-mobile.button-transparent.button--header Learn More
        section.about#about
            .container
                .about__wrapper.d-flex.j-content-between
                    .about-left
                        .titles
                            h2.title About ShapeUp
                            h3.subtitle Welcome to Healthy Life
                        .about-left__bottom
                            .about-left__title Nunc euismod ante at purus elementum porttitor. 
                                            br
                                            |   Ut nisi nisl, auctor et imperdiet quis risus.
                            .about-left__descripton Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas est porttitor, 
                                        br
                                        |   malesuada tellus aliquet, vehicula ipsum. Suspendisse porttitor sed dolor ac vehicula. 
                                        br
                                        |   Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
                                        br
                                        |   turpis egestas. Morbi iaculis tellus vestibulum est accumsan commodo. Curabitur 
                                        br
                                        |   sollicitudin, eros vitae vulputate euismod, nibh tortor accumsan tellus, 
                                        br
                                        |   fringilla hendrerit ligula eros nec velit.
                            a.about-left__learn-more.disable-basic-link(href="#") Learn More
                    .about-right
                        .about-right__main
                            .about-right__main-video
                                iframe(src="https://www.youtube.com/embed/GS_z6FG_jqE", frameborder="0")
                            
                        ul.about-right__additionally.ul-none.d-flex.j-content-between
                            li.about-right__additionally-video.about-right__additionally-video--one
                                a(href="https://www.youtube.com/embed/A7ZgGLtvaFg")
                            li.about-right__additionally-video.about-right__additionally-video--two
                                a(href="https://www.youtube.com/embed/1qc5bAgZ0uY")
                            li.about-right__additionally-video.is-active-additionally-video.about-right__additionally-video--three
                                a(href="https://www.youtube.com/embed/GS_z6FG_jqE")
        section.meet#meet     
            .container
                .titles.titles-center
                    h2.title Meet
                    h3.subtitle.subtitle-center Our Trainers
                ul.meet__wrapper.ul-none.d-flex.j-content-around.flex-wrap
                    li.meet-card.meet-card--one
                        .meet-card__description
                            h4.meet-card__name Trainer 1
                            h5.meet-card__position Fitness Trainer

                    li.meet-card.meet-card--two
                        .meet-card__description
                            h4.meet-card__name Letty Adams
                            h5.meet-card__position Fitness Trainer

                    li.meet-card.meet-card--three
                        .meet-card__description
                            h4.meet-card__name Trainer 3
                            h5.meet-card__position Fitness Trainer

                    li.meet-card.meet-card--four
                        .meet-card__description
                            h4.meet-card__name Trainer 4
                            h5.meet-card__position Fitness Trainer

                    li.meet-card.meet-card--five
                        .meet-card__description
                            h4.meet-card__name Trainer 5
                            h5.meet-card__position Fitness Trainer
        section.choose#choose
            .container
                .titles.titles-center
                    h2.title Choose
                    h3.subtitle.subtitle-center Our Programs
                ul.choose__wrapper.ul-none.d-flex.j-content-around.flex-wrap
                    li.choose-item.choose-item--one
                        .choose-item__border
                            img(src="./img/icons/choose-icons/1.svg", alt="running")
                        .choose-item__detailed
                            h4.choose-item__title Body Building Programs
                            p.choose-item__description Sed augue enim, lacinia non dui ut, mollis vulputate 
                                                        br
                                                        |   felis. Vivamus consequat bibendum ullamcorper. Donec 
                                                        br
                                                        |       sed nibh aliquet odio efficitur sagittis.       
                            button.button.button-mini.button-center.button-transparent.button--choose Learn More
                            
                    li.choose-item.choose-item--two
                        .choose-item__border
                            img(src="./img/icons/choose-icons/2.svg", alt="rod")
                        .choose-item__detailed
                            h4.choose-item__title Weight Loose Programs
                            p.choose-item__description Sed augue enim, lacinia non dui ut, mollis vulputate 
                                                        br
                                                        |   felis. Vivamus consequat bibendum ullamcorper. Donec 
                                                        br
                                                        |   sed nibh aliquet odio efficitur sagittis. 
                            button.button.button-mini.button-center.button-transparent.button--choose Learn More

                    li.choose-item.choose-item--three
                        .choose-item__border
                            img(src="./img/icons/choose-icons/3.svg", alt="swimming")
                        .choose-item__detailed
                            h4.choose-item__title Spa Programs
                            p.choose-item__description Sed augue enim, lacinia non dui ut, mollis vulputate 
                                                        br
                                                        |   felis. Vivamus consequat bibendum ullamcorper. Donec 
                                                        br
                                                        |   sed nibh aliquet odio efficitur sagittis. 
                            button.button.button-mini.button-center.button-transparent.button--choose Learn More
        section.reviews#reviews           
            .container
                .titles.titles-center
                    h2.title Reviews
                    h3.subtitle.subtitle-center What Our Clients Say
                ul.reviews__wrapper.ul-none.d-flex.j-content-between.flex-wrap.slider-reviews#slider-reviews
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/rebecca-morrison.png", alt="rebecca morrison")
                        .reviews-item__right
                            h4.reviews-item__name Rebecca Morrison
                            span.reviews-item__work Social Worker
                            .reviews-item__description 
                                p.reviews-item__detailed Curabitur interdum nulla ligula, ac iaculis est venon. 
                                                        br
                                                        |   Quisque auctor, ex id posuere aliquam, lorem mauris 
                                                        br
                                                        |   venenatis sem, eu facilisis magna nibh. Praesent 
                                                        br
                                                        |   laoreet leo diam, ut suscipit purus malesuada laoreet. 
                                                        br
                                                        |   Aliquam erat volutpat.
                                span.reviews-item__rating.reviews-item__rating--full 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/daniel-bllomberg.png", alt="daniel bllomberg")
                        .reviews-item__right
                            h4.reviews-item__name Daniel Bllomberg
                            span.reviews-item__work Salesman
                            .reviews-item__description 
                                p.reviews-item__detailed Donec nec interdum turpis. Donec faucibus facilisis
                                                        br
                                                        |   enim, ut fringilla urna elementum non. Mauris vel 
                                                        br
                                                        |   mauris ac tellus feugiat maximus. Sed augue enim, 
                                                        br
                                                        |   lacinia non dui ut, mollis vulputate felis. Vivamus
                                                        br
                                                        |   consequat bibendum ullamcorper.
                                span.reviews-item__rating.reviews-item__rating--four 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/rebecca-morrison.png", alt="rebecca morrison")
                        .reviews-item__right
                            h4.reviews-item__name Rebecca Morrison
                            span.reviews-item__work Social Worker
                            .reviews-item__description 
                                p.reviews-item__detailed Curabitur interdum nulla ligula, ac iaculis est venon. 
                                                        br
                                                        |   Quisque auctor, ex id posuere aliquam, lorem mauris 
                                                        br
                                                        |   venenatis sem, eu facilisis magna nibh. Praesent 
                                                        br
                                                        |   laoreet leo diam, ut suscipit purus malesuada laoreet. 
                                                        br
                                                        |   Aliquam erat volutpat.
                                span.reviews-item__rating.reviews-item__rating--full 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/daniel-bllomberg.png", alt="daniel bllomberg")
                        .reviews-item__right
                            h4.reviews-item__name Daniel Bllomberg
                            span.reviews-item__work Salesman
                            .reviews-item__description 
                                p.reviews-item__detailed Donec nec interdum turpis. Donec faucibus facilisis
                                                        br
                                                        |   enim, ut fringilla urna elementum non. Mauris vel 
                                                        br
                                                        |   mauris ac tellus feugiat maximus. Sed augue enim, 
                                                        br
                                                        |   lacinia non dui ut, mollis vulputate felis. Vivamus
                                                        br
                                                        |   consequat bibendum ullamcorper.
                                span.reviews-item__rating.reviews-item__rating--four 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/rebecca-morrison.png", alt="rebecca morrison")
                        .reviews-item__right
                            h4.reviews-item__name Rebecca Morrison
                            span.reviews-item__work Social Worker
                            .reviews-item__description 
                                p.reviews-item__detailed Curabitur interdum nulla ligula, ac iaculis est venon. 
                                                        br
                                                        |   Quisque auctor, ex id posuere aliquam, lorem mauris 
                                                        br
                                                        |   venenatis sem, eu facilisis magna nibh. Praesent 
                                                        br
                                                        |   laoreet leo diam, ut suscipit purus malesuada laoreet. 
                                                        br
                                                        |   Aliquam erat volutpat.
                                span.reviews-item__rating.reviews-item__rating--full 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                    li.reviews-item
                        .reviews-item__left
                            img(src="./img/reviews/daniel-bllomberg.png", alt="daniel bllomberg")
                        .reviews-item__right
                            h4.reviews-item__name Daniel Bllomberg
                            span.reviews-item__work Salesman
                            .reviews-item__description 
                                p.reviews-item__detailed Donec nec interdum turpis. Donec faucibus facilisis
                                                        br
                                                        |   enim, ut fringilla urna elementum non. Mauris vel 
                                                        br
                                                        |   mauris ac tellus feugiat maximus. Sed augue enim, 
                                                        br
                                                        |   lacinia non dui ut, mollis vulputate felis. Vivamus
                                                        br
                                                        |   consequat bibendum ullamcorper.
                                span.reviews-item__rating.reviews-item__rating--four 
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
                                    svg(xmlns='http://www.w3.org/2000/svg')
                                        path(stroke='#ed213a', fill='#ed213a', d='M17.487 9.384a.25.25 0 0 0-.202-.17l-4.533-.655-2.028-4.086c-.042-.086-.13-.14-.224-.14a.25.25 0 0 0-.225.139L8.248 8.56l-4.533.655c-.095.014-.173.08-.203.17s-.005.19.064.255l3.28 3.18-.774 4.49a.25.25 0 0 0 .099.244c.078.056.18.063.264.02l4.055-2.12 4.054 2.12c.037.02.077.028.117.028.052 0 .104-.015.147-.047.078-.056.116-.15.1-.244l-.774-4.49 3.28-3.18c.068-.066.093-.165.063-.255z')
        section.gallery#gallery
            .gallery__wrapper
                ul.gallery-slider.ul-none#gallery-slider
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/1.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/2.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/3.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/4.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/5.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/1.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/2.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/3.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/4.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/5.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/1.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/2.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/3.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/4.jpg", alt="image")
                    li.gallery-slider__item
                        img.gallery-slider__img(src="./img/gallery/5.jpg", alt="image")
                .gallery-button-container
                    button.button.gallery-sluder-button.button-arrow.button-arrow-left.gallery__button-arrow.gallery__button-arrow-left
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='0.706cm', height='1.129cm')
                            path(fill-rule='evenodd', fill='rgb(18, 194, 233)', d='M16.216,32.000 L20.000,28.266 L7.568,16.000 L20.000,3.733 L16.216,-0.001 L0.000,16.000 L16.216,32.000 Z')
                    button.button.gallery-sluder-button.button-arrow.button-arrow-right.gallery__button-arrow.gallery__button-arrow-right
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='0.706cm', height='1.129cm')
                            path(fill-rule='evenodd', fill='rgb(18, 194, 233)', d='M16.216,32.000 L20.000,28.266 L7.568,16.000 L20.000,3.733 L16.216,-0.001 L0.000,16.000 L16.216,32.000 Z')





        section.pricing#pricing 
            .container
                .titles.titles-center
                    h2.title Pricing Table
                    h3.subtitle.subtitle-center Our Membership Plans
                ul.pricing__wrapper.ul-none.d-flex.j-content-around.flex-wrap
                    li.pricing-item 
                        h4.pricing-item__price 
                            span $
                            | 10
                            span /Day
                        span.pricing-item__subscription One Day Training
                        ul.pricing-item__description.ul-none
                            li One day access to all clubs
                            li Training in group
                            li No Dedicated trainer
                            li Access to one 1 hour fitness class
                            li No access to spa center 
                                br
                                | (Book Separately)
                            button.button.button-mini.button-transparent.button-transparent-black.button--pricing Book Now
                    li.pricing-item
                        h4.pricing-item__price 
                            span $
                            | 49
                            span /month
                        span.pricing-item__subscription One Year Subscription
                        ul.pricing-item__description.ul-none
                            li Access to all clubs
                            li Training in group or alone
                            li Dedicated trainer available
                            li Access to one 1 hour fitness class
                            li Access to spa center 
                                br
                                | (Book Separately)
                            button.button.button-mini.button-transparent.button-transparent-black.button--pricing Book Now
                    li.pricing-item
                        h4.pricing-item__price 
                            span $
                            | 65
                            span /month
                        span.pricing-item__subscription One Year Subscription
                        ul.pricing-item__description.ul-none
                            li Access to all clubs
                            li Training in group or alone
                            li Dedicated trainer available
                            li Access to one all fitness class
                            li Access to spa center 
                                br
                                | (Book Separately)
                            button.button.button-mini.button-transparent.button-transparent-black.button--pricing Book Now
        section.blog#blog   
            .container
                .titles.titles-center
                    h2.title Blog
                    h3.subtitle.subtitle-center Our Latest News
                ul.blog__wrapper.ul-none.d-flex.j-content-around.flex-wrap
                    li.blog-item
                        img.blog-item__img(src="./img/blog/1.jpg", alt="icon-1")
                        .blog-item__information
                            span.blog-item__theme Body Fitness  
                            h4.blog-item__title Start your push-ups today and see results 
                            p.blog-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem
                            a.blog-item__link.disable-basic-link(href="#") Continue reading
                            .blog-item__detailed   
                                h6.blog-item__autor 1d | Kevin Smith
                                span.blog-item__like 25
                    li.blog-item
                        img.blog-item__img(src="./img/blog/2.jpg", alt="icon-1")
                        .blog-item__information
                            span.blog-item__theme Exersize
                            h4.blog-item__title Are you commited enough for better body ?
                            p.blog-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem
                            a.blog-item__link.disable-basic-link(href="#") Continue reading
                            .blog-item__detailed
                                h6.blog-item__autor 2d | Md Mizanur Rahman
                                span.blog-item__like 50
                    li.blog-item
                        img.blog-item__img(src="./img/blog/3.jpg", alt="icon-1")
                        .blog-item__information
                            span.blog-item__theme Fitness Club
                            h4.blog-item__title Why working out is good for you ?
                            p.blog-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem
                            a.blog-item__link.disable-basic-link(href="#") Continue reading
                            .blog-item__detailed
                                h6.blog-item__autor 2d | Nazratun Nayeem
                                span.blog-item__like 71
                    li.blog-item
                        img.blog-item__img(src="./img/blog/4.jpg", alt="icon-1")
                        .blog-item__information
                            span.blog-item__theme Training Equipments
                            h4.blog-item__title Liftings things do make a difference
                            p.blog-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare ut dui sed facilisis. Aliquam eu nunc orci. Aliquam eleifend in lorem
                            a.blog-item__link.disable-basic-link(href="#") Continue reading
                            .blog-item__detailed
                                h6.blog-item__autor 3d | Marry Poppins
                                span.blog-item__like 39
        section.call-us#call-us
            .container 
                .call-us__wrapper 
                    .titles.titles-center
                        h2.title Call Us Today
                        h3.subtitle.subtitle-center.subtitle-no-line
                            a.subtitle-phone.subtitle-phone--call-ul(href="tel:+19576521268") +1 957 652 1268
                    p.call-us__description Praesent elementum nulla non posuere dictum. Suspendisse aliquet quam diam, egestas tristique nibh tempor sed. Ut justo leo, eleifend sit amet ipsum ac, scelerisque mattis nisl.
                    button.button.button-center.button-header-mobile.button-background.button-hover-linear-gradient.button--call-ul Book a Program
        section.contact#contact
            .container
                .contact__wrapper.d-flex.j-content-between.flex-wrap
                    .contact-left
                        h3.contact-left__logo
                            img(src="./img/logo.svg", alt="logo")
                        p.contact-left__description Maecenas rhoncus ipsum non nisi finibus maximus. In hac habitasse platea dictumst. Aenean purus eros.
                        h4.contact-left__follow-title Follow Us
                        ul.contact-left__follow-wrapper.ul-none.d-flex 
                            li
                                a.disable-basic-link(style="background-image: url('./img/icons/contacts-icons/left/facebook-icon.svg')" href="#") 
                            li
                                a.disable-basic-link(style="background-image: url('./img/icons/contacts-icons/left/twitter-icon.svg')" href="#")
                            li
                                a.disable-basic-link(style="background-image: url('./img/icons/contacts-icons/left/instagram-icon.svg')" href="#")
                            li
                                a.disable-basic-link(style="background-image: url('./img/icons/contacts-icons/left/youtube-icon.svg')" href="#")
                            li
                                a.disable-basic-link(style="background-image: url('./img/icons/contacts-icons/left/vimeo-icon.svg')" href="#")
                    .contact-location
                        h3.contact-title.contact-location__title Quick Contacts
                        ul.contact-location__list.ul-none 
                            li.contact-location__item.contact-location__item--location
                                a(href="https://goo.gl/maps/FjXMJ7u5zyTZ5QNC7" target="_blank") 23, George Washington Street, New York, USA, 09567
                            li.contact-location__item.contact-location__item--phone
                                a(href="tel:+19576521268") +1 957 652 1268
                            li.contact-location__item.contact-location__item--email
                                a(href="mailto:info@shapeup.com") info@shapeup.com
                            li.contact-location__item.contact-location__item--site
                                a(href="www.shapeup.com" target="_blank") www.shapeup.com
                    .contact-tags
                        h3.contact-title.contact-tags__title Popular Search Tags
                        ul.contact-tags__container.ul-none
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Workout
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Spa
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Schedule
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Weightlifing
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Boxing
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Yoga
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Location
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Trainers
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Class
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Equipments
                            li.contact-tags__item
                                a.disable-basic-link(href="#") Nutrition
        section.footer-links#footer-links
            .container
                 ul.footer-links__list.ul-none.d-flex.j-content-center
                            li.footer-links__item
                                a(href="#header") Home
                            li.footer-links__item
                                a(href="#about") About
                            li.footer-links__item
                                a(href="#meet") Trainers
                            li.footer-links__item
                                a(href="#choose") Service
                            li.footer-links__item
                                a(href="#reviews") Reviews
                            li.footer-links__item
                                a(href="#pricing") Price
                            li.footer-links__item
                                a(href="#blog") Blog
        footer.footer#footer
            .container
                p.footer__copyright Copyright    2018.  All Rights Reserved
                
        
                        
                            
                


        script(src="./js/script.js")