@media screen and (max-width: 1100px) {
    .clients__wrapper { flex-direction: column-reverse; }
    .clients-right, 
    .clients-left { width: 100%; }
    .clients-right { justify-content: center; } 
    .clients-right-item { width: 45%; }
    
    .bestseller-item { width: 32%; }
}