@media screen and (max-width: 650px) {
    .portfolio-content-list__item {
        height: 30rem;
    }

    .portfolio-content-list__item--large,
    .portfolio-content-list__item--8 { width: 60%; }
    // .portfolio-content-list__item--4 { width: 60%; }

    .portfolio-content-list__item--less,
    .portfolio-content-list__item--7,
    .portfolio-content-list__item--4 { width: 40%; }
    .clients { padding: 5rem 0 5rem 0; }
    .clients-left-reviews { padding-top: 1.5rem; }
    .clients__wrapper { padding-top: 6rem; }
    .clients-right-item { width: 44%; }
    .teamwork-people-item { width: 45%; }

    .skils { padding: 5rem 0; }
    .skils-container { justify-content: space-around; }
    .skils__wrapper  { padding-top: 1rem; }

    .bestseller { padding: 5rem 0; }
    .bestseller__wrapper { padding-top: 2rem; }
    .contact-form { width: 100%; right: 0; }
    .contact-map { background-image: none; min-height: 49rem; }
    .contact__wrapper { margin-top: 0; }
    .contact { padding-top: 5rem;  }

}