// Базовые файлы для подключения
@import 'base/bootstrap-reboot.min';
@import './base/transition';


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

// Подключение вовторяющихся стилей
@import './repeats/button';
@import './repeats/call';

// Подключение одиночных стилей
@import './elements/hamburger';

// Подлюкние секций
@import './sections/header';
@import './sections/promo';


// Подключение медиа-запросов
@import './media/media-1120';
@import './media/media-1060';
@import './media/media-1000';
@import './media/media-940';
@import './media/media-640';
@import './media/media-550';
@import './media/media-480';
@import './media/media-320';