.arrow-top {
    position: relative;
    cursor: pointer;
    z-index: 999;
    img {
        transition: .3s linear;
        opacity: .7;
        position: absolute;
        right: 63px;
        top: -34px;
    }
    &:hover {
        img {
            opacity: 1;
        }
    }
}
