.buy-popup {
    position: relative;
    width: 651px;
    height: 604px;
    background: #292929;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    padding: 20px 120px 57px 34px;
    &__close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 80px;
    }
    &__title {
        font-size: 36px;
        font-weight: 400;
        color: #C1C1C1;
    }
    &__places {
        position: relative;
        padding-left: 0;
        margin-bottom: 0;
    }
    &__place {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 129px;
        background: linear-gradient(0deg, #797979, #797979), linear-gradient(0deg, #646464, #646464), #646464;
        font-size: 56px;
        color: #292929;
        margin-bottom: 5px;
    }
    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 60px;
        width: 94px;
        height: 81px;
        background: linear-gradient(0deg, #797979, #797979), linear-gradient(0deg, #646464, #646464), #646464;
    }
    &__plus,
    &__minus {
        cursor: pointer;
        position: absolute;
        color: #797979;
        right: 20px;
        top: -7px;
    }
    &__minus {
        top: -20px;
        top: 40px;
    }
    &__purchase {
        margin-top: 60px;
    }
    &__final-price {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 189px;
        height: 78px;
        background: linear-gradient(0deg, #797979, #797979), linear-gradient(0deg, #646464, #646464), #646464;

        font-size: 56px;


        color: #292929;
    }
}