.arrow__left, .arrow__right {
    position: absolute;
    width: 103px;
    bottom: -55px;
    left: 0;
    cursor: pointer;
    border: none;
    background: transparent;
}

.arrow__right {
    left: 150px;
}