.button {
    background: transparent;
    width: 165px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid #fff;

    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.57px;
    transition: 0.4s all;
    &_header-nav {
        &:hover {
            background: #fff;
            color: #000000;
        }
    }
    &_main {
        width: 247px;
        height: 48px;
        border: none;
        border-radius: 24px;
        background-color: #fb0275;

        font-size: 16px;
        font-weight: 700;
        @include hover-button;
    }
    &_service-one {
        width: 171px;
        height: 48px;
        border-radius: 24px;
        border: none;
        background-color: #fb0275;

        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        @include hover-button; 
    }
    &_service-two {
        margin-top: 40px;
    }
}

//фон кнопки, и текст внутри. Используется в секции service.
.button {
    &__background {
        width: 473px;
        height: 117px;
        box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
        border-radius: 10px;
        background-color: #883eca;
        &_service {
            margin-top: 70px;
            padding: 35px 37px 36px 38px;
        } 
        &_faq {
            position: relative;
            margin: 0 auto;
            margin-top: 70px;
            padding: 35px 55px 50px 331px;
            width: 1140px;
            height: 219px;
            z-index: 1;
        }
    }
    &__position {
        display: flex;
        justify-content: space-around;
    }
    &__block {
        color: #fff;
    }
    &__question {
        font-size: 13px;
        font-style: italic;
        line-height: 24px;
        &_faq {
            font-weight: 300;
            font-size: 16px;
            line-height: 30.1px;
        }
    }
    &__consultation {
        font-size: 16px;
        font-weight: 500;
        &_faq {
            font-size: 20px;
            line-height: 30.1px;
        }
    }
    &_form-one {
        line-height: 30.1px;
        color: #383d52;
        font-weight: 400;
        font-size: 16px;
        &:last-child {
            font-size: 20px;
            font-weight: 600;
        }
    }
    &_service-three {
        width: 192px;
        margin-left: 20px;
    }
    &_faq {
        margin-left: 15px;
    }
}


//кпнока для модального окна
.button_modal {
    margin-top: 15px;
    width: 240px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: #fb0275;

    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.57px;
    @include hover-button; 
}