.description {
    font-size: 14px;
    font-weight: 400;
    color: #5e606a;
    line-height: 24px;
    margin-top: 50px;
    &_aboutus {
        width: 515px;
        span {
            display: block;
        }
    }
    &_service {
        padding-left: 17px;
        list-style-type: square;
    }
    &__info {
        &_aboutus {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &_service-three {
        max-width: 585px;
        p {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}