.form-one {
    &_position-service {
        margin-top: 40px;
    }
    &__fill {
        &_service-position {
            margin-top: 30px;
        }
        &_faq-position {
            margin-top: 25px;
        }
    }
    &__input {
        width: 241px;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
        margin: 0 17px;
        border: none;
        padding: 5px 20px;
        border-bottom: 1px solid #cccccc;
        &:nth-child(1) {
            margin-left: 0;
        }
        &_service-three {
            color: #868995;
            background: transparent;
            &:focus {
                outline-color: #cccccc;
                border-bottom: none;
            }
        }
        &_faq {
            color: #fff;
            background: transparent;
            &:focus {
                outline-color: #cccccc;
                border-bottom: none;
            }
            &::placeholder {
                color: #fff;
            }
        }
    }
}