.subtitle {
    color: #383d52;
    font-family: 'Muller Bold', sans-serif;
    font-size: 32px;
    line-height: 37px;
    margin-top: 76px;
    &_aboutus {
        width: 390px;
    }
    &_service {
        width: 430px;
    }
    &_service-two {
        margin-top: 0;
        max-width: 430px;
    }
    &_service-three {
        max-width: 460px;
    }
}