.nav-bar {
    height: 60px;
    background: #c53f3f;
    position: fixed;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    &__link {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        transition: .1s all;
        &:hover {
            color: #00b8ff;
            text-decoration: none;
        }
    }
    &__detailed {
        display: flex;
        align-items: center;
    }
    &__country,
    &__category {
        select {
            width: 190px;
            height: 30px;
            font-size: 15px;
            margin-right: 20px;
        }
    }
    &__search {
        position: relative;
        input {
            width: 200px;
            height: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            background: transparent;
            padding: 0 15px;
            &::placeholder {
                color: #fff;
            }
        }
        label {
            position: absolute;
            color: #fff;
            margin-bottom: 0;
            top: 0;
            left: 0;
            transform: translateY(3px);
        }
    }
}

