@keyframes animationPreloader{
    0% {
      transform: translate(-100%, 0px);
    }
    100% {
      transform: translate(300%, 0px);
    }
}

.preloader {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    height: 3px;
    z-index: 999;
    &__line {
        width: 30%;
        background: #00b8ff;
        border-radius: 4px;
        height: inherit;
        animation: animationPreloader ease-in 2s;
        animation-iteration-count: infinite;
    }
}    

