@media screen and (max-width: 750px) {
    /* Секция под названием details */
    .details-form {
        flex-direction: column;
        align-items: center;
        input {
            margin: 10px 0;
            width: 370px;
        }
        &__phone {
            padding: 0;
        }
    }
    .button_details-price {
        margin-top: 10px;
        max-width: 370px;
    }

    /* Секция convenience */
    .convenience__wrapper {
        margin-top: 80px;
    }
    .convenience__item {
        margin-top: 20px;
    }
    .convenience__description {
        margin-top: 25px;
    }

    /* Секция consultation*/
    .button_consultation {
        width: 300px;
        margin: 0;
    }
    .consultation-form {
        input {
            width: 300px;
        }
    }
}
