@media screen and (max-width: 1099px) {
    .button_details-price {
        margin-top: 20px;
    }

    /* Секция consultation*/
    .button_consultation {
        margin-top: 0;
    }
    .consultation-form {
        input {
            margin-left: 0;
            margin-right: 20px;
        }
    }
    .consultation-form__phone {
        margin: 0;
    }
}