@media screen and (max-width: 590px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__wrapper {
        align-items: center;
    }

    .header-top__logo {
        max-width: 160px
    }

    .header-top__relation {
        align-items: center;
    }
    .header-top__phone {
        font-size: 15px
    }
    .button_header {
        width: 140px;
        height: 45px;
    }

    /* ----- Одна из верхних секций. Секция с рекламой, то есть Promo*/
    .yellow-wrapper {
        padding: 100px 0 125px 65px;
    }

    /* ----- Секция под названием wait, которая идёт следом за price ----- */
    .wait-wrapper {
        p {
            font-size: 16px;
        }
    }

    /* Секция bonuses */
    .title_bonuses {
        font-size: 33px;
        span {
            display: inline-block;
        }
    }

    /* Секция edward */ 
    .title_edward {
        font-size: 33px;
    }

    /* Секция convenience */
    .title_convenience {
        font-size: 33px;
    }
    .subtitle_convenience {
        font-size: 18px;
    }

    /* Секция warehouse*/ 
    .title_warehouse {
        font-size: 33px;
    }
    .subtitle_warehouse {
        font-size: 17px;
    }

    /* Секция diagnostics*/ 
    .title_diagnostics {
        font-size: 28px;
    }

    /* Секция office*/ 
    .title_office {
        font-size: 33px;
    }
}
