@import '../base/variables';

.arrow {
  border: none;
  background: transparent;
  &:hover { 
    svg { 
      fill: $color-by-hover;
      opacity: 1;
    }
  }
  &-left { transform: rotate(180deg) }
  &-opacity { 
    opacity: .25; 
    &:hover { opacity: 1; }
  }
}