.sleep__arrow-right,
.travel__arrow-right,
.sleep__arrow-left, 
.travel__arrow-left {
  position: absolute;
  bottom: -4.1rem;
  right: -.3rem;
  opacity: .25;
}
.travel__arrow-left,
.sleep__arrow-left {
  right: 4rem;
}

.sleep-night,
.travel-planes {
  position: absolute;
  width: 90rem;
  height: 30rem;
  overflow: hidden;
  right: 0;
  bottom: -9.1rem;
  &-item {
    position: absolute;
    right: -66px;
    bottom: 0;
  }
}


.travel-container-slider,
.sleep-container-slider {
  position: relative; 
  padding-top: 5rem;
}

.travel__subtitle,
.sleep__subtitle {
  padding-right: 7.7rem;
}

.travel-airline--padding,
.sleep-raiting--padding {
  padding-left: 13rem; 
}


.travel-shore-images,
.sleep-shore-images {
  max-width: 111.5rem;
  height: 78rem;
  margin-top: -18.9rem;
  margin-left: -.3rem;
  &-item {
    width: 100%;
    height: 100%;
    @include base-style-for-bg;
  }
}

.detailed-info {
  padding-top: 11rem;
  padding-left: 13rem;
  padding-right: 13rem;
  &-item {
    position: relative;
    display: flex;
    min-height: 20rem;
    width: 23%;
    &:last-child { width: 15%; }
    &-title {
      position: absolute;
      width: 20rem;
      height: 0;
      text-align: right;
      left: -10.5rem;
      top: 9.2rem;
      white-space: nowrap;
      transform: rotate(-90deg);

      margin: 0;
      font-size: 1.8rem;
      letter-spacing: .8rem;
      color: rgba(#fff, .5);
      text-transform: uppercase;
      font-weight: 300;
    }
    &-description {
      transform-origin: 7rem;
      display: block;
      padding-left: 4rem;
      font-weight: 800;
      font-size: 40px;
      line-height: 36px;
      text-transform: uppercase;
      color: #fff;
      display: none;
      &:first-child { display: block; }
    }
  }
  &__subtitle {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: right;
    letter-spacing: .525rem;
    text-transform: uppercase;
    opacity: 0.75;
  }
}

.travel__button,
.sleep__button {
  margin-top: 5.3rem; 
}