.provide-service {
    padding: 100px 0;
    min-height: 630px;
    background-color: #fff;
    &__service-wrapper {
        /* margin-top: 20px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__service-item {
        margin-top: 85px;
        width: 260px;
        display: flex;
        align-items: flex-start;
    }
    &__service-descr {
        cursor: pointer;
        padding-left: 20px;

        color: #1c1c1c;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.16px;
        transition: .2s all;
        &:hover {
            color: #e61010;;
        }
        span {
            display: block;
        }
    }
}
