@import '../base/variables';

.portfolio {
    padding: 9.9rem 0 10.2rem 0;
    background-color: #262626;
    overflow-x: hidden; // Убирает скролл при анимации справо-налево
    &-category {
        padding-top: 2.7rem;
        &__item {
            cursor: pointer;
            padding: 0 1.5rem;

            color: #a4a4a4;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            &:not(.is-active-portfolio-button):hover { color: rgba($is-active-color,  .5);  }
            &.is-active-portfolio-button { color: $is-active-color; }
        }
    }
    &-content {
        padding-top: 10rem;
        &-list {
            display: none;
            &.is-active-portfolio {  display: flex; }
            &__item {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 35rem;
                &--1 {
                    background-image: url('../img/portfolio/1.png');
                    background-color: #f39943;
                }
                &--2 {
                    background-color: #3782aa;
                    background-image: url('../img/portfolio/2.png');
                }
                &--3 {
                    background-color: #ef5d88;
                    background-image: url('../img/portfolio/3.png');
                }
                &--4 {
                    background-color: #f6f0e0;
                    background-image: url('../img/portfolio/4.png');
                }
                &--5 {
                    background-color: #56cc82;
                    background-image: url('../img/portfolio/5.png');
                }
                &--6 {
                    background-color: #95a5a5;
                    background-image: url('../img/portfolio/6.png');
                }
                &--7 {
                    background-color: #24b0c9;
                    background-image: url('../img/portfolio/7.png');
                }
                &--8 {
                    background-color: #fa8562;
                    background-image: url('../img/portfolio/8.png');
                }
                &--large {
                    width: 29.5%;
                }
                &--less {
                    width: 20.248%;
                }
            }
        }
    }
}