@import '../base/variables';
// $product-hexagon-color: #e7e7e7;
// $product-hexagon-color-active: #fff;

.product {
    padding: 10rem 0 20rem 0;
    &__wrapper { padding-top: 10rem; }
    &-left, &-right { padding-top: 7.5rem; }

    &-left, &-right { width: 31%; }
    &-center { margin: 0px 4rem;  width: 31%; }

    &-center {
        position: relative;
        &-body {
            position: relative;
            padding: 50px 11px 0 11px;
            border-top-left-radius: 40px 40px;
            border-top-right-radius: 40px 40px;
            width: 100%;
            height: 48.3rem;
            border: 0.1rem solid #c8c7c7;
            background-color: #d8d8d8;
            z-index: 3;
            img { width: 100%; }
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 2.2rem;
                left: 50%;
                transform: translateX(-50%);
            }
            &::before {
                width: .6rem;
                height: .6rem;
                box-shadow: 0.1rem 0 0 rgba(255, 255, 255, 0.42);
                background-color: #d8d8d8;
                border-radius: 100%;
            }
            &::after {
                top: 2.5rem;
                width: .2rem;
                height: .2rem;
                box-shadow: inset 0 0 0.4rem 0.2rem rgba(255, 255, 255, 0.3);
                background-color: #1e1e20;
                border-radius: 100%;
            }
        }
        &-body-trapeze {
            position: absolute;
            width: 47rem;
            height: 0;
            border-bottom: 20.6rem solid #262626;
            border-left: 7rem solid transparent;
            border-right: 7rem solid transparent;
            z-index: 4;
            left: 50%;
            transform: rotateX(180deg) translateX(-50%);
            bottom: -10rem;
        }
        &-body-hexagon {
            position: absolute;
            position: absolute;
            bottom: -143px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            svg {  transform: rotate(90deg); }
        }
        &__button { 
            position: absolute;
            margin-top: -3rem;
            left: 50%;
            transform: translateX(-50%); 
            z-index: 4;
        }
    }
    &-information-item {
        display: flex;
        align-items: center;
        padding: 0 1rem;

        width: 37rem;
        height: 5.3rem;
        border: 0.1rem solid #e7e7e7;
        background-color: #ffffff;
        margin-bottom: 2.3rem;
        &:hover {
            background-color: $is-active-color;
            .product-information-item--text { color: #fff; }
            .product-information-item--hexagon {
                color: $product-hexagon-color-active;
                svg { fill: $is-active-color; }
            }
        }
        &--reverse { 
            flex-direction: row-reverse; 
            .product-information-item--hexagon { 
                margin-right: auto; 
                margin-left: 0; 
            }
            .product-information-item--text { text-align: left; }
        }
        &--text {
            color: #262626;
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 0;
            flex-grow: 1;
            padding: 0 1.7rem;
            align-items: flex-end;
            text-align: right;
        }
        &--hexagon {
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $product-hexagon-color;

            position: relative;
            width: 32px; 
            height: 18px;
            background-color: currentColor;
            transform: rotate(90deg);
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
            }
            &::before {
                bottom: 100%;
                border-bottom: 9px solid currentColor;
            }
            &::after {
                top: 100%;
                width: 0;
                left: 0;
                border-top: 9px solid currentColor;
            }
            svg {
                transform: rotate(-90deg);
                width: 1.3rem;
                height: 1rem;
            }
        }
    }
}