.skils {
    padding: 10rem 0;
    &__wrapper { padding-top: 6rem; }
    &-item {
        padding-top: 3rem;
        width: 16rem;
        margin: 0 2.5rem;
        &-circle {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 14.5rem;
            height: 14.5rem;
            border: 0.3rem solid #e74c3c;
            border-radius: 50%;

            font-size: 4rem;
            font-weight: 300;
            &--number { color: #ff0036; }
            &--interest { color: #000000; }
        }
        &-information {
            text-align: center;
            &__title {
                padding-top: 1.5rem;
                color: #262626;
                font-family: 'Raleway', sans-serif;
                font-size: 2rem;
                font-weight: 500;
                text-transform: uppercase;
            }
            &__description {
                color: #505050;
                font-size: 1.6rem;
                margin-bottom: 0;
            }
        }
    }
}