.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    &_white {
        background-color: rgba(255, 255, 255, .25);
    }
    &_black {
        background-color: #1A1A1A;
    }
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    min-height: 437px;

    background: #fff;
    border-radius: 20px;
    padding: 50px;
    &__title {
        font-family: 'Bebas Neue Bold';
        text-align: center;
        color: #F1403B;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 0;
    }
    &-fill {
        padding-top: 27px;
        &__name,
        &__phone {
            position: relative;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            input {
                font-family: 'Bebas Neue Bold';
                width: 360px;
                height: 67px;
                border: 2px solid #000000;
                border-radius: 5px;
                font-size: 26px;
                color: #000000;
                padding: 25px 30px 25px 30px;
                transition: all .3s ease-in-out;
                &:focus {
                    outline: none;
                    border: 2px solid #F1403B;
                }
            }
            h6 {
                display: flex;
                position: absolute;
                font-size: 16px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 0;
                width: 60px;
                background: #fff;
                transform: translate(25px,-10px);
            }
        }
    }
    .incorrect {
        position: absolute;
        text-align: center;
        color: #f1403b;
        font-size: 19px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        top: 90px;
    }
}

.thank {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue Bold';
    text-align: center;
    h5 {
        font-size: 42px;
        line-height: 42px;
        color: #FFFFFF;
    }
    h6 {
        padding-top: 9px;
        font-size: 22px;
        color: #FFFFFF;
    }
}