.about-us {
    position: relative;
    min-height: 39rem;
    padding: 8.9rem 0;
    z-index: 5;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 54.5rem;
        background-image: url('../img/bg2.png');
        left: 0;
        bottom: 0;
        z-index: -1;
        pointer-events: none;
    }
    &-left {
        &__produce {
            display: block;
            padding-top: 8rem;
            font-size: 2rem;
            color: #3c3950;
            font-weight: 300;
        }
    }
    &-right {
        max-width: 53rem;
        &__description {
            font-size: 1.6rem;
            font-weight: 300;
            color: #505050;
            margin-bottom: 2rem;
            &:last-child { margin-bottom: 0; }
        }
    }
}