
// Цвет для фона
@bg-color: #fff;

// Цвет базового текса
@base-text-color: #000;

// Фон для навигации
@nav-bg: #004D76;

.header {
    min-height: 10rem;
    background-color: @bg-color;
    &-top { padding: 1.2rem 0; }
    &-addres {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
    }
    .nav-bar {
        background-color: @nav-bg;
        min-height: 5rem;
        padding: 1rem 0;
    }
    .nav-link {
        font-weight: 400;
        font-size: 1.7rem;
        color: @bg-color;
        text-transform: uppercase;
        &:hover { color: rgba(#fff, .7); }
    }
}
