// Цвет для фона
@bg-color: #fff;

// Цвет базового текса
@base-text-color: #000;

// Фон для навигации
@nav-bg: #004D76;


.header {
    min-height: 10rem;
    background-color: @bg-color;
    &-top { padding: 1.2rem 0; }
    &-addres {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
    }
    .nav-bar {
        background-color: @nav-bg;
        min-height: 5rem;
        padding: 1rem 0;
    }
    .nav-link {
        font-weight: 400;
        font-size: 1.7rem;
        color: @bg-color;
        text-transform: uppercase;
        &:hover { color: rgba(#fff, .7); }
    }
}

.header-mobile {
    position: fixed!important;
    pointer-events: all!important;
    visibility: visible!important;
    top: 0!important;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    z-index: 888;
    right: 0;
    bottom: 0;
    left: 0;
    background: @bg-color;
    .header-top {
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-bar {
        background: transparent;
    }
    .nav-list {
        flex-direction: column;
        background: none;
    }
    .nav-link {
        color: #333333;
        font-size: 1.7rem!important;
        padding: 1.5rem 0;
        &:hover { color: #333333; }
    }
    .header-addres {
        padding-top: 0.5rem;
        font-size: 1.3rem;
        position: static;
        pointer-events: all;
        visibility: visible;
    }
    .logo {
        position: absolute;
        pointer-events: none;
        visibility: hidden;
        top: -100%;
    }
    .phone--header {
        margin: 0 auto;
    }
}