.information {
    min-height: 37rem;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.6),rgba(0,0,0, .6)), url('../img/bg4.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 10rem;
    &-item {
        padding-top: 10rem;
        &__img {
            display: block;
            width: 70px;
            margin-left: auto;
            margin-right: auto;
        }
        &__description {
            padding-top: .5rem;
            position: relative;
            text-align: center;
            font-size: 2rem;
            color: #fff;
            margin-bottom: 0;
            &::after {
                content: '';
                position: absolute;
                width: 8.2rem;
                height: .2rem;
                background-color: #fbcf00;
                bottom: -4rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}