.button {
    display: block;
    width: 404px;
    height: 80px;
    background: #F1403B;
    border: none;

    font-size: 30px;
    color: #fff;
    transition: all .3s ease-in-out;
    &:hover {
        background: #A01E1A;
    }
    &_header {
        margin-top: 35px;
    }
}