.title {
    font-family: 'Bebas Neue Bold';

    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    color: #1A1A1A;
    &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        background: #F1403B;
        bottom: 14px;
        left: 2px;
    }
    &_masters {
        color: #fff;
    }
}