@media screen and (max-width: 500px) {
    .header { min-height: 0; }
    .header__wrapper {
        position: absolute;
        top: -100%;
        pointer-events: none;
        visibility: hidden;
    }
    
    .hamburger {
        visibility: visible;
        pointer-events: all;
    }
    
}