@media screen and (max-width: 575px) {
    .information-list { justify-content: center; }

    .septic-left__infotmation { 
        padding-left: 3rem; 
        margin-top: -2.3rem;
    }

    .septic-left__text { 
        font-size: 2.5rem; 
        line-height: 3.2; 
    }
    .septic-qustion-active {
        font-size: 3rem;
    }

}