@media screen and (max-width: 767px) {
    .order-item-bottom--3 {
        padding-top: 0;
    }

    .header-addres { 
        position: absolute;
        top: -100%;
        visibility: hidden;
        pointer-events: none;
    }   
    .header .nav-link { font-size: 1.4rem; }
    .phone--header { margin-left: auto; }

    .promo__title {
        font-size: 3rem;
        &::before,
        &::after {
            width: 30.2rem;
        }
    }
    .promo { min-height: 92rem; }
    .promo__subtitle { font-size: 2.2rem; }
    .promo__description { margin-top: 8rem;}

    .about-us-right { padding-top: 2.5rem; }
}