body {
    box-sizing: border-box;
}
h2 {
    text-align: center;
}
p {
    margin-top: 15px;
    margin-bottom: 5px;
}

.section {
    width: 400px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 15%;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        input {
            width: 222px;
            height: 30px;
            padding: 2px 10px;
            border: none;
            border-bottom: 1px solid #000;
            outline: none;
            margin: 0 auto;
        }
    }
}

abbr {
    text-decoration: none;
}

.salary-deductions ,.display-ndfl, .deduction-ndfl, .fund-fss, .fund-pension, .fund-foms, .fund-trauma {
    text-align: left;
    padding-left: 80px;
}
.line {
    border-bottom: 2px solid #000; 
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;

}
.button {
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 46px;
    transition: .3s all;
    transform-style: preserve-3d;
    cursor: pointer;
    &:hover {
        transform: rotateX(90deg); //при наводе кнопка меняет положение, а та, которая развёрнута изначально bottom начинает показвыаться нормально.
    }
    &__mane  {
        position: absolute;
        display: flex;
        justify-content: center; //выравнивает текст по центру кнопки
        align-items: center; //выравнивает текст по центру кнопки

        width: inherit; //наследует ширину от родителя
        height: inherit; //наследует высоту от родителя

        font-size: 14px;
        border: 2px solid #707070;
        color: #707070;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__front {
        transform: translateZ(25px);
      
    }
    &__bottom { //вторая кнопка, которая появляется при наведении
        background: #707070;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: normal;
        transform: rotateX(-90deg) translateZ(25px);
    }    
}

.fund-traumatism {
    margin: 0 auto;
    margin-top: 10px;
    width: 240px;
    height: 30px;
    padding: 2px 10px;

}