@media screen and (max-width: 1030px) {
    .gallery__item {
        margin-left: 20px;
        margin-right: 20px;
    }
    .gallery__wrapper {
        justify-content: space-around;
    }
}