@media screen and (max-width: 630px) {
    /* FOOTER */
    .footer {
        padding: 18px 0;
    }
    .footer__wrapper {
        flex-direction: column-reverse;
    }
    .footer__protected {
        padding-top: 6px;
    }
    /* FOOTER */
}