@media screen and (max-width: 930px) {
    /* HEADER */
    .navigations {
        background-color: #1A1A1A;
    }
    .navigations__desktop {
        display: none;
    }
    .navigations__hamburger {
        display: block;
    }
    .navigations__mobile {
        li {
            width: 100%;
            a {
                display: inline-block;
                width: 100%;
            }
        }
    }
    /* HEADER */


    /* CONTACTS */
    .contacts__wrapper {
        flex-direction: column;
    }
    .contacts-details {
        padding-left: 0;
        display: flex;
    }
    .contacts-address {
        display: flex;
    }
    .contacts-address__inner {
        padding-right: 160px;
        &:last-child {
            padding-right: 0;
        }
    }
    .contacts-address__place,
    .contacts-address__phone,
    .contacts-address__email {
        font-size: 22px;
    }
    .social-contacts-paddings {
        padding-top: 0;
    }
    .contacts-details__contact {
        padding-left: 110px;
    }
    .contacts-address__item_two,
    .contacts-address__item_four {
            padding-top: 20px;
    }
    /* CONTACTS */
}