@media screen and (max-width: 320px) {
    /* CONTACTS */
    .contacts {
        padding: 35px 0 2px 0;
    }
    .contacts-address__place,
    .contacts-address__phone,
    .contacts-address__email,
    .contacts-details__subtitle {
        font-size: 12px;
        line-height: 16px;
    }
    .contacts-details__subtitle {
        padding-top: 3px;
    }
    .contacts-details__title, 
    .social-fix-width {
        font-size: 16px;
    }
    .social-fix-width {
        width: 100px;
    }
    .social-contacts-paddings li {
        margin-top: -4px;
        padding-right: 8px;
        svg {
            width: 14px;
            height: 15px;
        }
    }
    .button_contacts {
        margin-top: 8px;
    }
    /* CONTACTS */

    .lg-prev,
    .lg-next {
        background-size: cover;
        width: 20px;
        height: 20px;
    }
}