@media screen and (max-width: 580px) {
    .container {
        padding: 0 20px;
    }

    .button_large  {
        width: 216px;
        height: 40px;
        font-size: 14px;  
    }
    .button_header {
        margin-top: 12px;
    }

    .navigations__mobile {
        padding: 0 20px 13px;
        li {
            padding-top: 12px;
            line-height: 12px;
            a {
                font-size: 12px;
            }
        }
    }

    .navigations__hamburger {
        right: 20px;
    }

    .header {
        min-height: 416px;
    }
    .header-top {
        display: none;
        pointer-events: none;
    }
    .navigations__title {
        font-size: 16px;
    }
    .navigations {
        height: 50px;
        padding: 13px 0;
    }
    .navigations__mobile_active {
        top: 50px;
    }
    .header-content__wrapper {
        padding-top: 115px;
    }
    .header-content__title {
        font-size: 34px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .header-content__subtitle {
        font-size: 18px;
        line-height: 40px;
    }
   
    .title {
        font-size: 25px;
        &::before {
            width: 25px;
            bottom: 5px;
        }
    }

    /* SERVICES */
    .services {
        min-height: 540px;
    }
    .services-right {
        padding: 40px 20px 22px;
    }
    .services-list__item {
        font-size: 20px;
    }
    /* SERVICES */


    /* MASTERS */
    .masters-content__border {
        width: 259px;
        height: 259px;
        padding: 12px;
        &::after {
            width: 255px;
            height: 255px;
        }
    }
    .masters-content__title {
        font-size: 16px;
    }
    .masters-content__subtitle {
        padding-top: 6px;
        font-size: 14px;
    }
    .masters-content__detailed {
        li {
            font-size: 14px;
        }
    }
    .masters-content__detailed {
        padding-top: 0;
    }
    /* MASTERS */


     /* REVIEWS */
     .reviews {
        padding: 43px 0 85px 0;
        padding-left: 34px;
        padding-right: 34px;
    }
    .reviews__wrapper {
        padding-top: 25px;
    }
    .reviews-items__item {
        width: 280px;
        min-height: 186px;
        padding: 28px 0 20px 16px;
    }
    .reviews-items__name {
        font-size: 12px;
    }
    .reviews-items__rating {
        margin-top: -5px;
        font-size: 12px;
    }
    .reviews-items__description {
        font-size: 12px;
        line-height: 15px;
    }
    .tns-nav {
        width: 120px;
        left: 50%;
    }
    button[aria-controls=tns1] {
        border: 1px solid #F1403B;
        width: 10px;
        height: 14px;
    }
    /* REVIEWS */

    /* CONTACTS */
    .contacts {
        padding: 41px 0 40px 0;
    }
    .contacts-address__place,
    .contacts-address__phone,
    .contacts-address__email,
    .contacts-details__subtitle {
        font-size: 14px;
    }
    /* CONTACTS */


    .lg-prev,
    .lg-next {
        background-size: cover;
        width: 30px;
        height: 30px;
    }


    /* MODAL-MOBILE */
    .modal-mobile {
        width: 280px;
        min-height: 248px;
        padding: 30px;
        .modal__title {
            font-size: 22px;
        }
        .modal-fill {
            padding-top: 10px;
        }
        .modal-fill__name,
        .modal-fill__phone {
            input {
                width: 100%;
                height: 43px;
                padding: 13px 20px;
                font-size: 18px;
            }
            h6 {
                font-size: 10px;
                display: flex;
                width: 40px;
                transform: translate(18px,-7px);
            }
        }
        .modal-fill__name {
            margin-bottom: 17px;
        }
        .button_form {
            margin-top: 14px;
            width: 221px;
            height: 40px;
            font-size: 22px;
        }
    }

    /* MODAL-MOBILE */

    .gallery__wrapper {
        padding-top: 10px;
    }

    .gallery__item {
        margin: 0;
        width: 280px;
        height: 280px;
        margin-bottom: 15px;
    }
    .gallery__wrapper {
        justify-content: center;
    }
    
    .modal {
        .incorrect {
            font-size: 12px;
            width: 220px;
            top: 54px;
        }
    }
}