@media screen and (max-width: 1200px) {
    .services-left {
        display: none;
        pointer-events: none;
    }
    .services {
        min-height: 815px;
    }

    .reviews {
        padding-left: 40px;
        padding-right: 40px;
    }
}