@media screen and (max-width: 655px) {
    /* SERVICES */
    .services {
        min-height: 704px;
    }
    .services-list {
        padding-top: 15px;
        max-width: 100%;
        margin: 0;
    }
    .services-list__item {
        font-size: 30px;
        padding-bottom: 8px;
        width: 100%;
    }
    .services-right {
        padding: 0;
        width: 100%;
        padding: 40px 40px 0;
    }
    /* SERVICES */
}