@import 'base/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/slick';
@import 'base/animations';
@import 'base/fonts';


html, body {
    font-family: 'Open Sans', sans-serif;
    background: url('../img/line.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
//Повторяющиеся элементы
@import 'repeat/buttons';
@import 'repeat/title';
@import 'repeat/subtitle';
@import 'repeat/description';
@import 'repeat/vergical-line';
@import 'repeat/shadows-number';
@import 'repeat/arrows';


//Секциии
@import 'section/header';
@import 'section/aboutus';
@import 'section/service';



