@import 'base/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/animations';
@import 'base/fonts';


html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background: url('../img/line.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
}

//Секциии
@import 'section/header';

//Повторяющиеся элементы
@import 'repeat/buttons';


//Секциии
@import 'section/aboutus';

//Повторяющиеся элементы
@import 'repeat/title';
@import 'repeat/subtitle';
@import 'repeat/description';


//Секциии
@import 'section/service-one';
@import 'section/service-two';
@import 'section/service-three';
@import 'section/comment';
@import 'section/faq';
@import 'section/map';
@import 'section/footer';
@import 'section/modal';
@import 'section/press-up';

//Повторяющиеся элементы
@import 'repeat/vergical-line';
@import 'repeat/shadows-number';
@import 'repeat/arrows';
@import 'repeat/form';