.subtitle {
    position: relative;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.24px;
    &::before {
        content: '';
        position: absolute;
        width: 6rem;
        height: .2rem;
        background-color: #ed213a;
        transform: translate(-0.2rem, 6.3rem);
    }
    &-center {
        &::before {
            left: 50%;
            transform: translateX(-50%) translateY(6.3rem);
        }
    }
    &-no-line {
        &::before {
            z-index: -999;
            visibility: hidden;
            opacity: 0;
        }
    }
    &-phone {
        font-size: 4.8rem;
        letter-spacing: 2.4px;
        text-align: center;
        color: #fff;
        transition: all .3s ease-in-out;
        &--call-ul {
            display: block;
            margin-top: -1.1rem;
        }
        &:hover {
            text-decoration: none;
            color: rgb(136, 136, 136);
        }
    }
}