.subtitle {
    position: relative;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.24px;
    &::before {
        content: '';
        position: absolute;
        width: 6rem;
        height: .2rem;
        background-color: #ed213a;
        transform: translate(-0.2rem, 6.3rem);
    }
    &-center {
        &::before {
            left: 50%;
            transform: translateX(-50%) translateY(6.3rem);
        }
    }
}