@import './base/base-style';
@import './base/transition';
@import './base/variables';


.font-family-scada {
    font-family: 'Scada', sans-serif;
}

// Установка базового размера шрифта для использования rem
html,
body {
    font-size: 10px;
}

// Установка самого шрифта
body { font-family: 'Roboto', sans-serif; }


// font-weight: 300, 400

// Подключение отдельных элементов
@import './elements/phone';
@import './elements/logo';

// Подключение повторяющихся элементов
@import './repeats/button';
@import './repeats/title';


// Подключение секций
@import "./sections/header";
@import './sections/promo';
@import './sections/about-us';