.footer {
    height: 120px;
    background-color: #191919;
    padding: 40px 0;
    &__wrapper {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        display: flex;
    }
    &__team {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &-icon__love {
        width: 15px;
        height: 14px;
    }
    &__done {
        padding: 0 7px;
    }
    &__question {
        text-align: center;
        font-size: 13px;
        font-weight: 400;
    }
    &__link {
        font-size: 18px;
        font-weight: 900;
        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
}