.free-consultation {
    position: relative;
    min-height: 470px;
    background: url('../img/bg/free-consultation.jpg') center center no-repeat /cover;
    background-color: #0d324d;
    padding: 100px 0;
    color: #ffffff;
    &-form {
        display: flex;
    }
    &__description {
        text-align: center;
        margin-top: 60px;
    }
    &__link {
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        &:hover {
            color: #ffffff;
        }
    }
}

.consultation-form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    input {
        margin: 0 15px;
        width: 370px;
        height: 70px;
        background-color: #f2f2f2;
        border: none;

        color: #818181;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 60px;
        outline-color: red;
    }
    &__phone {
        margin: 0 15px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            z-index: 3;
            width: 20px;
            height: 20px;
            right: 45px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/tele.svg') center center no-repeat /cover;
        }
    }
}