.guarantee {
    min-height: 606px;
    padding: 100px 0;
    color: #000000;
    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        span {
            display: block;

        }
    }
    &-items {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        &__description {
            max-width: 335px;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 400;
        }
        &__link {
            display: inline-block;
            margin-top: 40px;
            font-size: 18px;
            color: #000000;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;  
            &:hover {
                color: #bd7c04;
                text-decoration: none;
            }
            span {
                padding-top: 3px;
                border-bottom: 1px solid #000;
                &:hover {
                    border-bottom: 1px solid #bd7c04;
                }
            }

        }
    }
}