
@media screen and (max-width: 1170px) {
    /* Секция под названием details */
    .details-form {
        input {
            width: 350px;
        }
    }
    .button_details-price {
        max-width: 350px;
    }
}


@media screen and (max-width: 1100px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__time {
        padding-left: 70px;
    }

    /* Секция под названием details */
    .details-form {
        flex-wrap: wrap;
        justify-content: center;
    }
    .details-form__phone {
        padding: 0 10px;
    }

    /* Секция под названием guarantee */
    .guarantee-items__wrapper {
        padding: 0 20px;
    }

    /* Секция edward */
    .edward-right {
        width: 500px;
    }
    .edward-list__item {
        margin-bottom: 39px;
    }

}

@media screen and (max-width: 1099px) {
    .button_details-price {
        margin-top: 20px;
    }
}


@media screen and (max-width: 1000px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__time {
        padding-left: 30px;
    }

    /* ----- Секция под названием wait, которая идёт следом за price ----- */
    .wait-wrapper {
        flex-wrap: wrap;
    }
    .wait-wrapper__items {
        margin: 15px 15px;
        flex-wrap: wrap;
    }

    /* Секция bonuses */
    .bonuses-items {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    .bonuses-items__wrapper {
        padding: 0 5px;
        margin-top: 40px;
    }
    .bonuses-items__description {
        width: 250px;
        span {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 940px) {
    /* Секция edward */
    .edward-right {
        width: 460px;
    }
    .edward-list__item {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 910px) {
    /* Секция edward */
    .edward-list {
        font-size: 15px;
    }
    .edward-right {
        width: 400px;
    }
    .edward-list__item {
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 820px) {
    /* ----- Секция под названием price, идёт следом за header ----- */
    .price-form {
        input {
            width: 300px;
            height: 70px;
            border: 1px solid #d9d9d9;
        }
    }
    .price-form__five {
        padding-right: 53px;
        &::after {
            right: 15px
        }
    }  
    .button_email-price {
        width: 355px;
    }

    /* Секция под названием guarantee */
    .guarantee-items {
        flex-wrap: wrap;
        margin-top: 80px;
    }
    .guarantee-items__wrapper {
        margin: 30px 0;
        padding: 0px 5px
    }    
    .guarantee-items__link {
        margin-top: 20px;
    }


    /* Секция bonuses */
    .bonuses-items {
        justify-content: center;
    }
    .bonuses-items__wrapper {
        padding: 0 15px;
        margin-top: 40px;
    }

    /* Секция edward */
    .edward__wrapper {
        justify-content: center;
     }
    .edward-right {
        display: none;
    }
    .edward-list {
        font-size: 16px;
    }
    .subtitle_edward {
        display: none;
    }

}   

@media screen and (max-width: 780px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__time {
        display: none;
    }

    /* ----- Секция под названием wait, которая идёт следом за price ----- */
    .wait-wrapper {
        justify-content: center;
        p {
            margin-top: 20px;
        }
    }

}

@media screen and (max-width: 750px) {
    /* Секция под названием details */
    .details-form {
        flex-direction: column;
        align-items: center;
        input {
            margin: 10px 0;
            width: 370px;
        }
        &__phone {
            padding: 0;
        }
    }
    .button_details-price {
        margin-top: 10px;
        max-width: 370px;
    }
}


@media screen and (max-width: 650px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__phone {
        margin-right: 10px;
    }

    /* ----- Секция под названием price, идёт следом за header ----- */
    .price__title {
        text-align: center;
        font-size: 27px;
    }

    .price-form__top-position {
        flex-direction: column;
        align-items: center;
    }
    .price-form__before-email, .price-form__before-phone {
        &::after {
            top: 55%;
            right: 30px
        }
    }
    .price-form {
        input {
            width: 355px;
            &:nth-child(1) {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .price-form__bottom-position {
        justify-content: center;
    }

    .price-form__bottom-position {
        margin-top: 20px;
    }

    .price-form__five {
        display: none;
    }


}

@media screen and (max-width: 590px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__wrapper {
        align-items: center;
    }

    .header-top__logo {
        max-width: 160px
    }

    .header-top__relation {
        align-items: center;
    }
    .header-top__phone {
        font-size: 15px
    }
    .button_header {
        width: 140px;
        height: 45px;
    }

    /* ----- Одна из верхних секций. Секция с рекламой, то есть Promo*/
    .yellow-wrapper {
        padding: 100px 0 125px 65px;
    }

    /* ----- Секция под названием wait, которая идёт следом за price ----- */
    .wait-wrapper {
        p {
            font-size: 16px;
        }
    }

    /* Секция bonuses */
    .title_bonuses {
        font-size: 33px;
        span {
            display: inline-block;
        }
    }

    /* Секция edward */ 
    .title_edward {
        font-size: 33px;
    }
}


@media screen and (max-width: 480px) {
    /* ----- Верхняя часть с логотипом и номерами и кнопкой ----- */
    .header-top__wrapper {
        flex-direction: column;
    }
    .header-top__relation {
        flex-direction: column;
    }
    .header-top__logo {
        max-width: 191px;
        margin-bottom: 10px;
    }
    .header-top__phone {
        font-size: 18px;
        margin: 0 0 8px 0;
    }
    .button_header {
        width: 170px;
        height: 50px;
    }

    /* ----- Одна из верхних секций. Секция с рекламой, то есть Promo*/
    .yellow-wrapper {
        padding: 100px 30px 125px 30px;
    }

    /* ----- Секция под названием wait, которая идёт следом за price ----- */
    .wait-wrapper {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 20px;
        }
    }
    .wait-wrapper__items {
        margin: 20px 0;
    }

    .title_wait {
        font-size: 33px;
    }
    .subtitle_wait {
        font-size: 18px;
    }

    /* Секция под названием details */
    .title_details {
        font-size: 33px;
    }
    .subtitle_details {
        font-size: 18px;
    }


    .title_guarantee {
        font-size: 28px;
        span {
            display: inline-block;;
        }

    }
}


@media screen and (max-width: 420px) {
    /* ----- Одна из верхних секций. Секция с рекламой, то есть Promo*/
    .yellow-wrapper {
        padding: 100px 10px 100px 10px;
    }

    .main-title {
        max-width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 31px;
    }

    .main-subtitle {
        max-width: 100%;
        text-align: center;
    }

    .yellow-wrapper__description {
        display: none;
    }

    /* ----- Секция под названием price, идёт следом за header ----- */
    .price-form {
        input {
            width: 290px;
        }
    }
    .button_email-price {
        width: 290px;
    }

    /* Секция под названием details */
    .details-form {
        input {
            width: 290px;
        }
    }
    .button_details-price {
        max-width: 290px;
    }
}

@media screen and (max-width: 410px) {
    /* Секция edward */ 
    .square {
        width: 240px;
        padding: 13px 32px 1px 9px;
    }

}

@media screen and (max-width: 340px) {
    /* Секция под названием details */
    .title_details {
        font-size: 30px;
    }
    .subtitle_details {
        font-size: 16px;
    }

    /* Секция bonuses */
    .title_bonuses {
        font-size: 30px;
    }

    /* Секция edward */ 
    .title_edward {
    font-size: 30px;
    }
}