.warehouse {
    min-height: 670px;
    background-color: #0b3554;
    padding: 100px 0;
    color: #ffff;
    &__title {
        color: #ffff;
        text-align: center;
        font-size: 36px;
        font-weight: 400;
    }
    &__subtitle {
        color: #ffff;
        margin-top: 11px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}