.hamburger {
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  width: 40px;
  height: 40px; 
  list-style: none;
  color: #52B153;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
    top: -100%;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  &.active {
    .hamburger-item {
      background-color: transparent;
      &::before {
        transform: rotate(45deg)
      }
      &::after {
        transform: rotate(-45deg)
      }
    }
  }
  &-item {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #52b153;;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #52b153;;
    }
    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }
}
