.header {
    min-height: 758px; // min-height: 768px;
    padding: 31px 0 56px 0;
    // background-image: url('../img/header/header-bg.jpg');
    background-image: url('../img/header/header-full-bg.jpg');
    @include style-base-bg;
    &__wrapper {
        position: relative;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__main-title {
        font-weight: 700; // 700
        font-size: 144px;
        color: #778aa2;
        opacity: .5;
        text-align: center;
        line-height: 153px;
        margin-bottom: 0;
    }
    &-content {
        &__menu {
            margin-top: 79px;

            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            li {
                font-weight: 300;
                font-size: 24px;
                color: #E6F0F5;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    text-decoration: none;
                    color: #E6F0F5;
                }
            }
        }
    }
    &-characteristic {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &__item {
            color: #E6F0F5;
            &_volume-engine {
                margin-left: 22px;
            }
            &_power {
                margin-left: -16px;
            }
            &_acceleration {
                margin-left: 23px;
            }
        }
        &__title {
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 13px;
        }
        &__description {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
}
