.team {
    min-height: 1100px;
    padding: 62px 0 66px 0;
    &-wrapper {
        margin-top: 65px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &__item {
            text-align: center;
            width: 290px;
            display: block;
            margin: 0 5px;
            img {
                display: block;
                margin: 0 auto;
            }
            &:nth-child(n+4) {
                margin-top: 50px;
            }
            
        }
        &__name {
            margin-top: 20px;
            color: #19b5fe;
    
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 0;
    
        }
        &__position {
            color: #464646;
            font-weight: 300;
            font-size: 16px;
    
        }
    }
    &-quotation {
        position: relative;
        margin-top: 90px;
        text-align: center;
        color: #464646;
        font-weight: 300;
        font-size: 18px;
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 47px;
            height: 37px;
            background-image: url('../img/quotation-marks.svg');
            top: 0;
            left: 0;
        }
        &::before {
            left: auto;
            top: auto;
            right: 0;
            bottom: 0;
            transform: rotateY(-190deg);
        }
        
        &__title {
            font-size: 30px;
        }
        &__text {
            max-width: 945px;
            margin: 0 auto;
            padding-top: 5px;
            font-weight: 300;
        }
        &__name {
            padding-top: 10px;
            font-weight: 500;
        }
        &__position {
            font-size: 16px;
            font-weight: 300;
        }
    }
   

}

