@media screen and (max-width: 620px) {
    .title {
        font-size: 30px;
    }

    // ABOUT
    .about-slider__title {
        font-size: 22px;
    }
    .about-slider__detailed {
        br {
            display: none;
        }
    }
    .about-slider__characteristic_power {
        max-width: 275px;
    }
    // /.ABOUT

    // GALLERY
    .gallery {
        min-height: 524px;
    }
    .gallery-left {
        max-height: 542.5px;
    }
    .gallery-right {
        margin-top: -100px;
    }
    .gallery-right__img {
        height: 100px;
    }
    .gallery-right__one {
        width: 140px;
    }
    .gallery-right__two {
        width: 160px;
    }
    .gallery-right__three {
        width: 130px;
    
    }
    .gallery-right__four {
        display: none;
    }
    // /.GALLERY

    // MODELS
    .models {
        min-height: 524px;
    }
    .models-slider__item {
        height: 524px;
    }
    // /.MODELS
}
