@media screen and (max-width: 900px) {
    /* HEADER */
    .header__main-title {
        font-size: 90px;
    }
    .header-content__menu {
        margin-top: 83px;
        li {
            font-size: 20px;
        }
    }
    .header-characteristic {
        margin-top: 60px;
    }
    /* /.HEADER */


    // CONTACTS
    .contacts__wrapper {
        justify-content: space-between;
    }
    .contacts__map {
        width: 450px;
        height: 370px;
    }
    .contacts__address {
        li {
            font-size: 16px;
        }
    }
    .contacts__locations {
        margin-left: 0;
    }
    // /.CONTACTS

    /* POPUP */
    .popup {
        width: 570px;
        padding: 70px 25px 82px 25px;
    }
    /* /.POPUP */
}