@media screen and (max-width: 900px) {
    /* HEADER */
    .header__main-title {
        font-size: 90px;
    }
    .header-content__menu {
        margin-top: 83px;
        li {
            font-size: 20px;
        }
    }
    .header-characteristic {
        margin-top: 60px;
    }
    /* /.HEADER */
}