@media screen and (max-width: 530px) {
    .container {
        padding: 0 33px;
    }
    .hamburder {
        width: 20px;
        span {
            width: 20px;
            &:nth-child(2) {
                transform: translateY(6px);
            }
            &:last-child {
                transform: translateY(12px);
            }
        }
    }
    .mobile-arrow {
        display: block;
    }

    /* HEADER */
    .header {
        background-image: url('../img/header/mobile-header-bg.jpg');
        min-height: 524px;
    }
    .header-characteristic__item_power {
        display: none;
    }
    .header__main-title {
        margin-top: 30px;
    }
    .header-characteristic {
        margin-top: 224px;
    }
    /* /.HEADER */
}
