@media screen and (max-width: 800px) {
    .product-left, .product-right { width: 100%; padding-top: 2rem; }
    .teamwork-people-item { width: 35%; }

    .bestseller-item { width: 48%; }
    .blog-item-image--2 { background-position: 0 0; }
}