@media screen and (max-width: 680px) {
    .services { padding: 5rem 0; }
    .services__wrapper { padding-top: 0; }
    .services-item { 
        padding-top: 5rem;
        width: 100%; 
    }
    .blog-item-container { flex-direction: column; align-items: center; }
    .blog-item-image { height: 20rem; }
    .blog-item-content { 
        text-align: center; 
        padding-left: 0; 
        padding-top: 2rem;
    }
    .blog-item-content-information { justify-content: center; }
    .blog__button{ margin-left: auto; margin-right: auto; }

    .footer__design-info { opacity: 0; left: -100%; pointer-events: none; }
}