@media screen and (max-width: 500px) {
    .promo { margin-top: 0; padding: 14rem 0 9rem 0; }

    .about-right {
        position: absolute;
        pointer-events: none;
        visibility: hidden;
        left: -100%;
    }
    .product { padding: 5rem 0 5rem 0; }
}