@media screen and (max-width: 520px) {
    .portfolio-content-list__item--large,
    .portfolio-content-list__item--8,
    .portfolio-content-list__item--less,
    .portfolio-content-list__item--4,
    .portfolio-content-list__item--7 { width: 100%;  }

    .portfolio-category--mobile {
        max-width: 32rem;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-content-list__item {
        background-size: auto;
        background-position: center right;
    }

    .portfolio { padding: 5rem 0; }
    .portfolio-category__item { padding-bottom: 1rem; }
    .portfolio-content--mobile { padding-top: 5rem; }
    .portfolio-content-list-hover { opacity: .8; pointer-events: all; }

    .teamwork { padding: 5rem 0 0 0; }
    .teamwork__wrapper { padding-top: 4rem; }
    .teamwork-people-item { width: 48%; }
    .teamwork__line-split { margin-top: 5rem; }
    .twitter { padding: 5rem 0; }

    .blog { padding: 5rem 0; }
    .blog__wrapper { padding-top: 0rem; }

    .follow{ padding: 5rem 0; }
}