@media screen and (max-width: 910px) {
    .about-left,
    .about-right { width: 100%; padding-left: 0; }
    .about-right__list {
        padding-top: 6rem;
        justify-content: center;
    }
    
    .about-description__title { padding-top: 2.5rem; }
}