@media screen and (max-width: 650px) {
    .portfolio-content-list__item {
        height: 30rem;
    }

    .portfolio-content-list__item--large,
    .portfolio-content-list__item--8 { width: 60%; }

    .portfolio-content-list__item--less,
    .portfolio-content-list__item--4,
    .portfolio-content-list__item--7 { width: 40%; }
}