.hide-scroll-bar { overflow: hidden; }
.show-sroll-bar { overflow: auto; }

@import './elements/preloader';

// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap');

// Базовые файлы для подключения
@import './base/bootstrap-reboot.min';
@import './base/slick';
@import './base/library-flex';
@import './base/transition';
@import './base/animations';

html { font-size: 10px; }
body { 
  font-family: 'Fira Sans', sans-serif; 
  background-color: #171919;
}


// Подклчение одиночных элементов
@import './elements/logo';
@import './elements/nav';
@import './elements/search';
@import './elements/plus-minus';

// Подключение повторяющихся элементов
@import './repeats/title';
@import './repeats/subtitle';
@import './repeats/arrow';
@import './repeats/button';

// Повторящиеся стили в секциях
@import './repeats/travel-and-sleep';

// Подключение секций
@import './sections/header';
@import './sections/surf';
@import './sections/travel';
@import './sections/sleep';
@import './sections/shop';


.header-right-location-slider-container { width: 944px; }
