// Цвет хедера
$header-bg: #040506;

// Цвет доби и в целом глобальный
$global-bg: #15191D;

// Базовый цвет всех шрифтов
$color-text: #fff;

// Активный цвет, использующийся при взаимодейсвтии
$active-color: #A79258;

// Цвет для поиска и фон новостей
$news-color-bg: #2D3439;