@import '../base/variables';
@import '../base/mixins';

.surf {
  background-color: $base-background-color;
  // min-height: 1951px;
  padding: 16.1rem 0 10rem 0;
  &__subtitle { margin-top: -6rem; }
  &__wrapper {
    position: relative;
    padding-right: 8rem;
    z-index: 5;
    &::after {
      content: '';
      position: absolute;
      width: 15rem;
      height: 34.9rem;
      background-image: url('../img/icons/surf-icon/location-icon.svg');
      @include base-style-for-bg;
      background-size: contain;
      top: -9rem;
      right: 0;
      z-index: 1;
    }
  }
  &-world-map {
    margin-top: -4.5rem;
    position: relative;
    max-width: 119.9rem;
    min-height: 63.4rem;
    background-image: url('../img/surf/world-map-dots.svg');
    @include base-style-for-bg;
    background-size: contain;
  }
  &-dot {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    color: $color-by-hover;
    background: currentColor;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      color: currentColor;
      border-bottom: 1.8rem solid currentColor;
      border-left: 1.1rem solid transparent;
      border-right: 1.1rem solid transparent;
    }
    &-item {
      position: absolute;
      top: -234px;
      left: -123px; 

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 28.3rem;
      height: 21.6rem;
      padding: 26px 34px 31px 31px;
      background: rgba($color: #000000, $alpha: .7);
      border-radius: .6rem;
      display: none;
      &-header {
        display: flex;
        justify-content: space-between;
        &__location {
          text-transform: uppercase;
          color: #fff;
          &-name {
            position: relative;
            display: block;
            font-weight: 800;
            font-size: 1.8rem;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -.5rem;
              width: 8rem;
              height: 0.1rem;
              background-color: $color-by-hover;
            }
          }
          &-counry {
            display: block;
            padding-top: 1rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      &-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0px .9rem 0 .6rem;
        img { 
          display: block;
          margin-left: auto;
          margin-right: auto;
         }
        &__description {
          padding-top: .5rem;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          &-info {
            font-weight: 800;
            font-size: 1.6rem;
          }
          &-name {
            font-weight: 300;
            font-size: 1rem;
          }
        }
      }
    }
    &--1 {
      top: 52%;
      left: .5%;
      .surf-dot-item { left: -2rem; }
    }
    &--2 {
      top: 45.8%;
      left: 12.8%; 
    }
    &--3 {
      top: 50.1%;
      left: 29.4%;
    }
    &--4 {
      top: 78.7%;
      left: 35.6%;
    }
    &--5 {
      top: 33.6%;
      left: 45.2%;
    }
    &--6 {
      top: 87%;
      left: 54.01%;
    }
    &--7 {
      top: 62.2%;
      left: 67.3%;
    }
    &--8 {
      left: 91.3%;
      top: 78.7%;  
    }
    &-actvie {
      &::before { top: -1.1rem; }
      .surf-dot-item { display: flex; }
    }
  }

}