@media screen and (max-width: 919px) {
    //СЕКЦИЯ ADVANTAGE
    .advantage__wrapper {
        justify-content: center;
    }
    .advantage__inner {
        margin: 0 10px;
    }
    .advantage-use {
        display: none;
    }
    
}