@media screen and (max-width: 485px) {
    //СЕКЦИЯ FREE-CONSULTATION
    .free-consultation-application {
        text-align: center;
    }
    .free-consultation-application__link {
        margin: 10px 0;
    }
    .title_free-consultation {
        text-align: center;
    }
}