@media screen and (max-width: 775px) {
    //СЕКЦИЯ FREE-CONSULTATION
    .title_free-consultation {
        margin: 0 auto;
    }
    .free-consultation__wrapper {
        justify-content: center;
    }
    .free-consultation-application {
        margin-top: 30px;
    }
    .free-consultation-application__link {
        margin: 0 10px;
        display: inline-block;
    }

}