@keyframes accordionTopToDown {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.accordionTopToDown {
    animation-name: accordionTopToDown;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

@keyframes portfolioLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.portfolioLeftToRight {
    animation-name: portfolioLeftToRight;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}


@keyframes portfolioRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.portfolioRightToLeft {
    animation-name: portfolioRightToLeft;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}


@keyframes rewiewsScaleZeroToFirst {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.rewiewsScaleZeroToFirst {
    animation-name: rewiewsScaleZeroToFirst;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

@keyframes headerFixedAnimation {
    0% { 
        opacity: 0;
        transform: translateY(-100%); 
    } 
    100% { 
        transform: translateY(0); 
        opacity: 1;
    }
}
.headerFixedAnimation {
    animation-name: headerFixedAnimation;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}