.guarantee {
    &-rectangle {
        margin-top: 45px;
        padding: 40px 0 109px 0;

        max-width: 1720px;
        height: 565px;
        background-color: #f6f9f3;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;

        color: #303030;
    }
    &-left {
        padding-left: 73px;
        &__title {
            width: 505px;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.7px;
        }
    }
    &-right {
        position: relative;
        top: -208px;
    }
}