.list {
    padding-bottom: 180px;
    &-rectangle {
        margin-top: 42px;

        max-width: 1720px;
        height: 540px;
        background-color: #f6f9f3;
        z-index: -1;
        &__wrapper {
            position: relative;
    
            display: flex;
            justify-content: space-between;
        }
    }
    &-ailments {
        position: relative;
        color: #303030;
        &__item {
            position: relative;
            cursor: pointer;
            width: 651px;
            height: 70px;
            border-bottom: 1px solid rgba(#a4c58c, .2);

            display: flex;
            align-items: center;
            &::after {
                opacity: 0;
                content: '';
                position: absolute;
                background-image: url('../img/right-arrow.svg');
                width: 9px;
                height: 14px;

                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: .3s all;
            }
            &:hover {
                &::after {
                    opacity: .7;
                }
            }
            &_active {
                &::after {
                    opacity: 1;
                }
            }
            span,
            p {
                pointer-events: none;

                letter-spacing: 0.7px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                color: #303030;
                margin-bottom: 0;

            }
            span {
                padding-right: 21px;
                color: #a4c58c;
            }
        }
        &__join-one {
            display: flex;
            .list-ailments__item {
                align-items: center;
                width: 350px;
                height: 80px;
                border-right: 1px solid rgba($color: #a4c58c, $alpha: .2);
                &::after {
                    right: 15px;
                }
                span {
                    font-size: 12px;
                    letter-spacing: 0.6px;
                }
                p {
                    color: #303030;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: none;   
                }
            }
        }
        &__join-three {
            .list-ailments__item {
                width: 301px;
                padding-left: 25px;
                border-right: none;
                &::after {
                    right: 20px;
                }
            }
        }
       
    }
    &-skeleton {
        position: relative;
        &__img { 
            display: block;
            z-index: -1;
            margin-top: -183px;
        }
        &__read-reviews {
            position: absolute;
            bottom: -20px;

            width: 416px;
            height: 180px;
            background-color: #f6f9f3;
            padding: 20px;
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;

            width: 44px;
            height: 44px;
            background-color: #ffffff;
            border-radius: 100%;

            display: none;
            span {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 26px;
                height: 26px;
                background-color: #a5c98a;
                border-radius: 100%;

                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.6px;
            }
            &-one {
                display: flex;
                left: 144px;
                top: 0;
            }
            &-two {
                top: -115px;
                left: 250px;
            }
            &-three {
                top: -160px;
                left: 203px;
            }
            &-four {
                top: -65px;
                left: 228px;
            }
            &-five {
                top: -173px;
                left: 227px;
            }
            &-six {
                top: 5px;
                left: 270px;
            }
            &-seven {
                top: -160px;
                left: 245px;
            }
            &-eight {
                top: 8px;
                left: 228px;
            }
            &-nine {
                top: -60px;
                left: 240px;
            }
        }
        
    }
}