.your-participation {
    padding-bottom: 275px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        max-width: 1074px;
        img {
            width: 100%;
        }
    }
}