.button {
    display: inline-block;
    padding: 1.3rem 2.5rem;
    background-color: #FDCC13;
    font-size: 2rem;
    color: #2C2C2C;
    border-radius: .3rem;
    border: 1px solid #FDCC13;
    &:hover {
        text-decoration: none;
        background: #2C2C2C;
        color: #FBCF00;
    }
    &--promo { margin-top: 4rem ; }   
}