.is-nav-active {
    color: #f80759 !important;
}

.is-hamburger-active {
    span {
        &:first-child {
            transform: rotate(450deg) translateX(8px)
        }
        &:last-child {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.is-active-additionally-video {
    transition: all .2s ease-in-out;
    border: 2px solid #f80759;
}