.title {
    position: relative;
    font-family: 'ReiseReise', sans-serif;

    font-weight: 400;
    font-size: 51px;
    color: #C7C7C7;
    padding-left: 101px;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../img/title-logo.svg');
        @include base-code-background;
        width: 80px;
        height: 79px;

        left: 17px;
        top: -1px;
    }
    &_news {
        padding-left: 102px;
        &::before {
            top: 1px;
        }
    }
    &_media {
        padding-left: 109px;
        &::before {
            top: 2px;
            left: 26px;
        }
    }
    &_tickets {
        padding-left: 109px;
        &::before {
            left: 26px;
            top: 9px;
        }
    }
}