//базовые настройки фона изображений
@mixin background-settig {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//изминение телефона в section => header при наведении
@mixin hover-tel {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: .2s linear;
    &::after {
        content: '';
        position: absolute;
        top: 25px; 
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background: #19b5fe;
        transition: .2s linear;
    }
    &:hover {
        color: #19b5fe;
        &::after {
            width: 100%;
        }
    }
}

//кнопка при наведении
@mixin hover-buttons {
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        background: #fff;
        z-index: -1;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s linear;
    }
    &:hover {
        border: 1px solid #19b5fe;
        color: #19b5fe;
        &:after {
            width: 400px;
            height: 400px;
        }
    }
}

//кнопка при наведении, находится на calculate => calculate-left__list
@mixin hover-calculate-list {
    overflow: hidden;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #19b5fe;
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: .3s linear;
        z-index: -1;
    }
    &:hover {
        &::after {
            width: 300px;
            height: 300px;
            background-color: #19b5fe;
        }
    }
}

//изминение таба при наведении 
@mixin hover-item {
    transition: .2s linear;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #19b5fe;
        width: 0;
        height: 50px;
        border-radius: 10px;
        transition: .2s linear;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:after {
            width: 100%;
            height: 50px;
        }
    }
}