.header {
    position: relative;
    background-image: url('../img/header/header-bg.jpg');
    background-repeat: no-repeat;
    min-height: 941px;
    padding: 75px 0 128px 0;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    &__logo-link {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.9px; 
        &:hover {
            color: #fff;
            text-decoration: none;
        } 
    }
    &__links {
        list-style-type: none;
        display: flex;
        li {
            margin: 0 25px;
            a {
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                @include hover-text;
            }
        }
    }
    &__relation-phone {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: #fff;
        @include hover-text;
    }
    &__position {
        display: flex;
        justify-content: space-around;
    }
    &__left {
        position: relative;
        img {
            top: 65px;
            left: -150px;
            position: absolute;
        }
    }
    &__right {
        margin-left: 40%; // или 450px
        margin-top: 110px;
        span {
            display: block;
        }

    }
    &__title {
        color: #fff;
        font-family: "Muller";
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.76px;
    }
    &__subtitle {
        margin-top: 30px;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        span {
            display: block;
        }
    }
    &__extra {
        margin-top: 78px;
        display: flex;
        align-items: center;
    }
    &__description {
        margin-left: 30px;
        color: #fff;
        width: 210px;
        font-size: 16px;
        font-weight: 400;
    }
}

.mouse-down {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    img {
        animation: animateDown 1.5s infinite;
    }
}

