.map {
    position: relative;
    &-block {
        position: absolute;
        width: 458px;
        height: 383px;
        box-shadow: 0 23px 32px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;

        padding: 88px 102px 118px 88px;
        &_position {
            top: 121px;
            left: 423px;
        }
        &__contacts {
            padding-left: 26px;
            color: #5e606a;
            margin-top: 30px;
        }
        &__address {
            position: relative;
            font-size: 14px;
            font-weight: 400;
            &::before {
                @include map-before;
                width: 11px;
                height: 17px;
                background-image: url('../img/contacts/1.svg');
            }
        }
        &__mail {
            position: relative;
            font-size: 14px;
            font-weight: 400;
            color: #5e606a;
            @include hover-button;
              &::before {
                @include map-before;
                width: 13px;
                height: 10px;
                background-image: url('../img/contacts/2.svg');
            }
        }
        &__phone {
            position: relative;
            display: block;
            margin-top: 20px;
            color: #5e606a;
            font-size: 14px;
            font-weight: 400;
            @include hover-button;
              &::before {
                @include map-before;
                width: 14px;
                height: 15px;
                background-image: url('../img/contacts/3.svg');
            }
        }
    }
}