.service-two {
    min-height: 1000px;
    padding: 100px 0 138px 0;
    &__wrapper {
        position: relative;
        max-width: 546px;
        margin-left: auto;
        z-index: 5;
    }
    &__items {
        position: relative;
    }
    &__tulip {
        position: absolute;
        bottom: -215px;
        left: -215px;
    }
    &__sofa {
        position: absolute;
        top: 80px;
        right: 135px;
    }


}