.service-three {
    position: relative;
    min-width: 824px;
    padding: 85px 0 90px 0;
    background-color: #faf8fb;
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }
    &__right {
        img {
            width: 100%;
        }
    }
}