@media screen and (max-width: 640px) {
  .header__call {
    position: absolute;
    top: -100%;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  }

  .promo {
    padding-top: 150px;
  }

  .promo__title {
    font-size: 20px;
  }
  .promo__title-important {
    font-size: 30px;
  }

  .promo__offer {
    margin-right: 0;
    margin: 0 auto;
  }

  .send__title {
    font-size: 22px;
  }
}