@media screen and (max-width: 550px) {
  .promo__offer-image {
    width: 470px;
    left: -120px;
    top: -220px;
  }

  .promo__offer {
    max-width: 440px;
    max-height: 440px;
  }

  .promo__offer-information {
    padding-top: 50px;
  }

  .guarantee__item-inner {
    margin: 0 auto;
  }

  .guarantee__text {
    font-size: 20px;
  }
  .guarantee__bottom,
  .guarantee__list {
    padding-top: 30px;
  }
}