@media screen and (max-width: 480px) {
  .promo__offer-image {
    width: 237px;
    left: -100px;
    top: -55px;
  }
  .promo__offer {
    max-width: 100%;
    border-radius: 0;
  }
  .promo__offer-information {
    margin: 0 auto;
  }

  

}