@media screen and (max-width: 940px) {
  .header__description,
  .header__button {
    position: absolute;
    top: -100%;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
  }

  .hamburger {
    position: static;
    visibility: visible;
    pointer-events: all;
  }
  .header__nav {
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  .nav__item {
    opacity: 0;
  }

  .header__top {
    padding: 10px 0;
  }

  .promo {
    padding-top: 200px;
  }

  .send__form {
    flex-direction: column;
    align-items: center;
  }
  .send__label,
  .button-form-tablet {
    width: 280px;
    max-width: 280px;
  }
  .send__label {
    margin-bottom: 10px;
  }
  
  .advantages__item-table {
    // width: 38%;
  }
}