@media screen and (max-width: 350px) {
  .contacts__title {
    font-size: 20px;
  }
  .contacts__content-title, 
  .contacts__content-item, 
  .contacts__content-contact {
    font-size: 17px;
  }
  .contacts__content {
    right: 0;
  }
  .contacts__content-text {
    font-size: 13px;
  }

  .footer__item {
    margin: 0;
  }
  .footer__list {
    padding: 0;
  }
}