@media screen and (max-width: 1000px) {
  .promo__wrapper {
    flex-direction: column;
  }
  .promo__information {
    max-width: 100%;
  }
  .promo__information-description {
    padding-top: 10px;
  }

  .feedback__item-content {
    max-width: 650px;
  }
  .feedback__item-image {
    min-width: 210px;
  }

  .feedback__item-description {
    font-size: 17px;
  }
}