@media screen and (max-width: 410px) {
    /* Секция edward */ 
    .square {
        width: 240px;
        padding: 13px 32px 1px 9px;
    }

    /* Секция footer */
    .footer__logo {
        width: 150px; //150
    }
    .footer__question {
        font-size: 13px; //13
    }
    .footer__link {
        font-size: 16px; //16
    }

}