@media screen and (max-width: 340px) {
    /* Секция под названием details */
    .title_details {
        font-size: 30px;
    }
    .subtitle_details {
        font-size: 16px;
    }

    /* Секция bonuses */
    .title_bonuses {
        font-size: 30px;
    }

    /* Секция edward */ 
    .title_edward {
    font-size: 30px;
    }

    /* Секция convenience */
    .title_convenience {
        font-size: 30px;
    }
    .subtitle_convenience {
        font-size: 17px;
    }

    /* Секция warehouse*/ 
    .title_warehouse {
        font-size: 30px;
    }
    .subtitle_warehouse {
        font-size: 15px;
    }   

    /* Секция consultation*/ 
    .title_consultation {
        font-size: 26px;
    }

    /* Секция footer */
    .footer__logo {
        width: 130px;
    }
    .footer__question {
        font-size: 12px;
    }
    .footer__link {
        font-size: 14px;
    }
    
}