@media screen and (max-width: 1100px) {
    // GALLERY
    .gallery-right {
        margin-top: -120px;
    }
    .gallery-right__img {
        height: 120px;
    }
    .gallery-right__one {
        width: 200px;
    }
    .gallery-right__two {
        width: 220px;
    }
    .gallery-right__three {
        width: 170px;
       
    }
    .gallery-right__four {
        width: 160px;
    }
    // /.GALLERY
    
}