.button {
    display: block;
    position: relative;

    width: 250px;
    height: 60px;
    border: none;
    background-color: #7eb252;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;

    padding-right: 45px;
    overflow: hidden;
    transition: .3s all .3s;
    &::before {
        transition: .3s all .2s;
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background: #9a9a9a;
        left: -100%;
        top: 0;
    }
    &:hover {
        span {
            &::after {
                right: -100%;
                right: -220%;
            }
        }
        &::before {
            left: 0%;
        }
        color: #fff;
        padding-right: 5px;
    }   
    span {
        position: relative;
        &::after {
            transition: .3s all;
            content: '';
            position: absolute;
            background-image: url('../img/long-right-arrow.svg');
            @include base-image;
            background-size: auto;
            width: 31px;
            height: 9px;
            top: 45%;
            transform: translateY(-42%);
            right: -50px;
        } 

    }
    &_form {
        margin-left: auto;
        margin-top: 63px;
    }
    &_list {
        margin-top: 18px;
        margin-left: auto;

        width: 500px;
        height: 70px;
    }
    &_what {
        width: 560px;
        height: 70px;
        margin-left: -39px;
    }
    &_history {
        width: 371px;
        margin-top: 34px;  
    }
    &_structure-bottom {
        width: 351px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &_reviews {
        width: 570px;
        height: 70px;
    }
    &_your-participation {
        margin-top: 55px;

        width: 500px;
        height: 70px;
    }
    &_guarantee {
        position: absolute;
        bottom: 0;
        right: 0;

        width: 351px;
        height: 60px;
    }
}

.button-list-table {
    display: none;
    pointer-events: none;
}