@import '../gloval-style/variables.scss';
@import '../gloval-style/mixins.scss';

.open-search {
  border: none;
  background: transparent;
}
.open-search svg:hover { fill: $active-color; }

.сurrency {
  font-weight: 300;
  font-size: 14px;
  color: $color-text;
  padding-right: 5rem;
  &-europe { padding-left: 2.4rem; }
}


.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $header-bg;
  padding: .2rem 4rem;
  &::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.59rem;
    top: 50%;
    transform: translateY(-50%);
    left: .1rem;
    background-image: url('../../images/search-icon.svg');
    @include base-style-bg;
  }
  &-input {
    width: 100%;
    height: 100%;
    background: $news-color-bg;
    border: none;
    color: $color-text;
    padding: 0 2.5rem;
    font-size: 2.5rem;
    border-radius: .5rem;
  }
  &-hide {
    visibility: hidden;
    pointer-events: none;
  }
  &-show {
    visibility: visible;
    pointer-events: all;
}
  &-cross {
    cursor: pointer;
    position: absolute;
    right: -.3rem;
    top: 30%;
    transform: translateX(-50%);
    border: none;
    background: transparent;
    svg {
      width: 2rem;
        height: 2rem;
      fill: #fff;
    }
    &:hover {
      svg { fill: #a75858; }
    }
  }
}


