// Анимация rotate для бордера
// который задан через ::bafore
@keyframes transformRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}



// Анимация появления контента табов
// чтобы она не было слишком быстрой
.show-tab-content {
    animation-name: showTabContent;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
}
@keyframes showTabContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



// Анимация, которая 
// проявляет 
.scale-img {
    animation-name: scaleImg;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
}
@keyframes scaleImg {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


// Анимация появляния навигации
.navigations-top-bottom {
    animation-name: navigationsTopBottom;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes navigationsTopBottom {
    0% {
        transform: translateY(-200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
