@media screen and (max-width: 900px) {
    .header-content__title {
        font-size: 5rem;
        line-height: 5.1rem;
        span {
            font-size: 3.8rem;
        }
    }

    .pricing-item {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        &:last-child {
            margin-right: 0.5rem;
        }
    }
}