@media screen and (max-width: 430px) {
    .title {
        font-size: 1.4rem;
    }
    .subtitle {
        font-size: 2.2rem;
    }

    .header {
        min-height: 43rem;
    }
    .header-content {
        padding-top: 7rem;
    }

    .about {
        padding-top: 0;
        padding-bottom: 4rem;
    }
    .header-content__title {
        font-size: 3rem;
        line-height: 3rem;
        span {
            font-size: 2rem;
        }
    } 
    .header-content__subtitle {
        max-width: 28rem;
    }
    .button-header-mobile {
        width: 16rem;
    }
    .logo {
        width: 13rem;
        img {
            width: 100%;
        }
    }
    .header-nav {
        padding-top: 0;
        margin-top: -0.3rem;
    }
  
    .about-right__main-video {
        max-height: 21rem;
    }
    .about-right__additionally {
        height: 8.5rem;
    }

    .about-left {
        padding-top: 3rem;
        padding-left: 0;
    }

    .about-left__bottom {
        padding-top: 4rem;
    }
    .about-left__descripton {
        padding-top: 2rem;
    }
    .about-left__learn-more {
        margin-top: 1rem;
    }
    .about-left__title {
        font-size: 1.9rem;
        br {
            display: none
        }
    }
}