@media screen and (max-width: 1040px) {
    .subtitle {
        font-size: 2.8rem
    }

    .about-left__title {
        font-size: 1.96rem;
    }

    .choose-item--one,
    .choose-item--three {
        transform: translate(0);
    }
}