@media screen and (max-width: 550px) {
    .about-right__main-video {
        width: 100%;
        max-height: 29rem;
    }
    .about-right__additionally-video {
        width: 32%;
        height: 100%;
    }
    .about-right__additionally {
        height: 12rem;
    }
    .blog-item {
        margin-left: 0;
        margin-right: 0;
    }
}