@media screen and (max-width: 1000px) {
    .hamburger-show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    .header-list-tablet {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: -100%;
        left: -100%;
    }
}