@media screen and (max-width: 980px) {
    .about__wrapper {
        flex-direction: column;
    }
    .about-right {
        max-width: 50.99rem;
    }
    .contact__wrapper {
        justify-content: space-around;
    }
}