.about {
    position: relative;
    padding-bottom: 68px;
    &__description {
        margin-top: 52px;
        p {
            font-size: 16px;
            line-height: 18px;
            color: #E1E1E1;
            margin-bottom: 15px;
        }
    }
}