.about-news {
    position: relative;
    min-height: 949px;
    top: -110px; /* -136px; */
    z-index: 5;
    padding-top: 177px;
    padding-left: 9px;
    background-image: url('../img/about-news/about-news-bg.jpg');
    @include base-code-background;
}