.header {
    position: relative;
    min-height: 576px;
    padding: 122px 0 0 12px;
    background-image: url('../img/header/header-bg.jpg');
    @include base-code-background;
    background-position: right;
    z-index: 10;
    // background-position-x: center;
    &__list {
        padding-left: 0;
        margin-bottom: 0;

        list-style: none;
        li {
            font-size: 29px;
            padding-bottom: 20px;
            line-height: 43px;
            transition: .3s linear;
            &:nth-child(3) {
                padding-top: 5px;
            }
            &:last-child {
                padding-top: 1px;
                padding-bottom: 0;
            }
            a {
                display: block;
                width: 100%;
                color: #6C6C6C;
                text-decoration: none;
                
            }
            &:hover {
                font-size: 36px;
                
                a {
                    color: #C0C0C0;
                }    
            }
        }
    }
}