.news {
    &-items {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        max-width: 950px;
        height: 313px;
        padding: 20px 20px 10px 30px;
        &__detailed {
            padding-left: 5px;
            padding-top: 10px;

            font-size: 14px;
            line-height: 18px;
            color: #E1E1E1;
            margin-bottom: 0;
        }
        &__img {
            position: relative;
            max-width: 211px;
            width: 100%;
            max-height: 154px;
        }
        &__item {
            &_two {
                .news-items__img {
                    left: 13px;
                    top: -3px;
                }
                .news-items__detailed {
                    padding-left: 15px;
                }
            }
            &_three {
                .news-items__img {
                    left: 16px;
                    top: -3px;
                }
                .news-items__detailed {
                    padding-left: 18px;
                }
            }
            &_four {
                .news-items__img {
                    left: 1px;
                }
                .news-items__detailed {
                    padding-left: 0;
                }
            }
        }
    }
}